﻿/*Safari hacks (must be above others) */

.rcbArrowCellHidden a{font-size:1px;}
.search-input-wrapper .RadComboBox{vertical-align:bottom;}
.rcbInputCell input{width:100%;}

/* main navigation, r.a.d.menu variety */
.RadMenu_topNav2 { height: 30px; margin: 0; padding: 0 0 0 9px; background: none transparent scroll repeat 0% 0%; }
.RadMenu_topNav2_Context{background: none;border:0;}

.RadMenu_topNav2.RadMenu .rmHorizontal .rmLink{ font:12px/14px Arial, Helvetica, sans-serif; color:#71caef;display:block; width: 105px; height: 25px; text-decoration: none; float:none; padding: 0 0 0 0;}
.RadMenu_topNav2.RadMenu .rmLink:hover,
.RadMenu_topNav2.RadMenu .rmFocused,
.RadMenu_topNav2.RadMenu .rmExpanded{ color: #fff; cursor:pointer; }

.RadMenu_topNav2.RadMenu .rmGroup .rmText { padding-left:0; }
.RadMenu_topNav2.RadMenu .rmGroup {border: solid 1px #333; *filter: alpha(opacity=90);}
.RadMenu_topNav2.RadMenu .rmHorizontal .rmText.rmExpandDown { padding-right: 42px;}
.RadMenu_topNav2 .rmVertical .rmSeparator{  padding-left: 10px; background: url(/images/base_struct_images/menubg.png);*background: #111; text-align: left;padding-top:2px;height: 16px;width: auto;margin: 0; }
.RadMenu_topNav2.RadMenu .rmGroup .rmLink {  padding-left: 5px;  background: url(/images/base_struct_images/menubg.png);*background: #111; text-align: left;padding-top:2px;height: 16px;width: auto;margin: 0; }
.RadMenu_topNav2.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText {border-bottom:#777 solid 1px; font-size: 14px; height: 20px; line-height: 15px; margin: 5px 10px 0 5px;width: auto; margin-top:0; padding-top: 5px; }
.RadMenu_topNav2.RadMenu .rmGroup .rmLink:hover,
.RadMenu_topNav2.RadMenu .rmGroup .rmFocused,
.RadMenu_topNav2.RadMenu .rmGroup .rmExpanded { height: 14px; background: url(/images/base_struct_images/menubg-hover.png);*background: #333;padding-top:2px;padding-bottom:2px;}
.RadMenu_topNav2.RadMenu .rmVertical .rmSeparator {height: 30px; }
.RadMenu_topNav2.RadMenu .rmVertical .rmSeparator .rmText {color:#fff; background: none;*background: #111; font: bold 14px/15px Arial, Helvetica, sans-serif; border-bottom: solid 1px #777;height: 20px; width: auto; margin:5px 10px 0 5px;} 
.RadMenu_topNav2.RadMenu .rmExpandLeft,
.RadMenu_topNav2.RadMenu .rmExpandRight{	background:transparent url(/images/base_struct_images/top_nav/nav_SubMenuArrow.gif) right center no-repeat;	margin-right: 4px;}
.RadMenu_topNav2.RadMenu .rmLink:hover .rmExpandLeft,
.RadMenu_topNav2.RadMenu .rmLink:hover .rmExpandRight,
.RadMenu_topNav2.RadMenu .rmFocused .rmExpandLeft,
.RadMenu_topNav2.RadMenu .rmFocused .rmExpandRight,
.RadMenu_topNav2.RadMenu .rmExpanded .rmExpandLeft,
.RadMenu_topNav2.RadMenu .rmExpanded .rmExpandRight { background: transparent url(/images/base_struct_images/top_nav/nav_SubMenuArrowInverted.gif) right center no-repeat;}
.RadMenu_topNav2.RadMenu .rmHorizontal .navTopLevel .rmText { padding: 4px 42px 1px 3px; }
.RadMenu_topNav2.RadMenu .rmHorizontal .navTopLevel { margin: 4px 0 1px 0px;  font: bolder 12px/16px  Arial, Helvetica, sans-serif; letter-spacing: 1px; color:#fff; width: auto;}
.RadMenu_topNav2.RadMenu .rmHorizontal .navTopLevel:hover { background: #71caef; text-decoration: none; }
/* fixes for IE6 */
*html .RadMenu_topNav2.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText {border-bottom:#777 solid 1px; font-size: 14px; height: 20px; line-height: 15px; margin: 5px 10px 0 5px;width: auto; padding:0}
*html .RadMenu_topNav2.RadMenu .rmGroup .rmLink .rmText {padding:0; padding-left: 5px;line-height: 18px; padding-right: 15px;width: auto;}
*html .RadMenu_topNav2.RadMenu .rmGroup .rmLink,
*html .RadMenu_topNav2.RadMenu .rmGroup .rmLink:hover,
*html .RadMenu_topNav2.RadMenu .rmGroup .rmFocused,
*html .RadMenu_topNav2.RadMenu .rmGroup .rmExpanded { padding:0; margin: 0; width: auto;}
*html .RadMenu_topNav2.RadMenu .rmItem { display: inline; width: 1px; float: left;}
*html .RadMenu_topNav2.RadMenu .rmGroup { padding:0; margin:0; }
*html .RadMenu_topNav2.RadMenu a.navTopLevel, 
*html .RadMenu_topNav2.RadMenu .rmLink:active  { color: #fff; }
*html .RadMenu_topNav2.RadMenu .rmHorizontal .navTopLevel { width: 1px; }
/* End top navigation */

/*RadTabStrip Styles*/
.community_cols .RadTabStripTop_Default .rtsLevel1 .rtsLink,.game_details .RadTabStripTop_Default .rtsLevel1 .rtsLink,.cols .RadTabStripTop_Default .rtsLevel1 .rtsLink  { background: none; }
.RadTabStrip_Default .rtsLevel1 { display: block; width: 902px; height: 29px; float: left; background: #161616; border-bottom: 1px solid #3b5f79; margin-top: 10px; overflow: visible !important;}
.RadTabStrip .rtsSeparator, .RadTabStripVertical .rtsSeparator{font-size: 17px !important; font-family: arial, helvetica, sans-serif !important; display: block; float: left; width: 150px !important; text-align: center; text-transform: capitalize !important;line-height:31px !important; color: #fefefe !important; background: none !important;}
.RadTabStrip_Default ul.rtsUL {list-style: none; display: inline; background: none; float: left;}
.RadTabStrip_Default ul.rtsUL li.rtsLI { display: block; background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat 0; margin-left: 6px; width:auto; float: left; _width:1px;_overflow: visible;_margin-bottom:-2px;}
.RadTabStrip_Default ul.rtsUL li.rtsLI span.rtsOut { display: block; background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat right; margin-left: 14px;_margin-left:4px;padding-right: 24px;_padding-right: 17px;width:auto; float: left; text-align: left;}
.RadTabStrip_Default ul.rtsUL li.rtsLI a.rtsSelected { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat top left; color: #FFF;}
.RadTabStrip_Default ul.rtsUL li.rtsLI a.rtsSelected span.rtsOut{ background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat top right;}
.RadTabStrip_Default ul.rtsUL li.rtsLI a { display: block; width:auto; height: 31px; font-family: arial, helvetica, sans-serif; color: #71caef; text-decoration: none; font-size: 12px; line-height: 31px;}
.RadTabStrip_Default ul.rtsUL li.rtsLI.active a { color: #fff; }
.RadTabStrip_Default ul.rtsUL li.rtsLI:hover { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat bottom left; }
.RadTabStrip_Default ul.rtsUL li.rtsLI:hover span.rtsOut { background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat bottom right; }
*html .RadTabStrip_Default ul.rtsUL li.rtsLI a:hover { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat bottom left; }
*html .RadTabStrip_Default ul.rtsUL li.rtsLI a:hover span.rtsOut { background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat bottom right; }
.RadTabStrip_Default ul.rtsUL li.rtsLI.active:hover { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat top left; }
.RadTabStrip_Default ul.rtsUL li.rtsLI.active:hover span.rtsOut { background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat top right; }

.rtsLevel2 { display: block; float: left; background: url(/images/halo3stats/tabs/background-fade.jpg) no-repeat top center #000 !important; width: 902px; height: 40px;}
.rtsLevel2 p { color: #fff; line-height: 40px; padding-left: 15px; }
.rtsLevel2 ul.rtsUL { color: #fff; padding-left: 10px; list-style: none; background: none; height: 40px; float: left;}
.rtsLevel2 ul.rtsUL li.rtsLI { line-height: 40px; padding-right: 0px; float: left; background: none; margin:0 !important;}

.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI a { background: none !important;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI a:hover { color:white;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI a.rtsSelected { background: transparent url(/images/halo3stats/dwn-arrow-wht.gif) no-repeat scroll 5px 18px !important; color: #fff; margin-left: 10px;padding-left:12px;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI:hover { background: none !important; color: #FFF;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI a span { line-height: 40px; background: none !important; margin:0 !important; padding-right: 0px !important;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI a span span { line-height: 40px; background: none !important; margin:0 !important; padding-right: 10px !important;}
.RadTabStrip_Default .rtsLevel2 ul.rtsUL li.rtsLI.rtsFirst.rtsLast a span span { color:#fff; cursor: default;_color:inherit; _cursor: pointer;}
.RadTabStrip_Default .rtsLevel2 .rtsLink{ padding-left:0;}
/*modifications to tab strips on Game History listings */
ul.tabbed_nav { height: 30px; float: left; margin: 0; margin-top: 10px; }
ul.tabbed_nav li{ height: 30px; }
div.community_colB .spotlight_career { display: block; float: left; height: 40px; }
/*end of modifications*/
/* end of RadTabStrip Styles*/

/* extra rad-editor css */
/* this needs a real image */
.rade_toolbar.Default .Insert_MediaPlayer {
	background: transparent url(/images/base_struct_images/news/insert_media_player_button.gif) 3px -3px no-repeat;
}

.radeditor.Default.rade_wrapper table td.rade_contentCell {background: Transparent !important;}

.nav li.NavSearch div.search-div div.RadToolBar { width: 42px; height: 20px; margin: 0; padding:0; display: block; overflow: hidden; white-space:nowrap; float: left; clear:none; }
.nav .RadToolBar {height:20px; vertical-align:middle; }	
.nav .RadToolBar_Default .rtbWrap {background:#111 url(/images/base_struct_images/search/searchbackground.gif) no-repeat; height:22px; padding: 2px 0 0px 0;}
.nav .RadToolBar_Default .rtbInner .rtbIcon {padding:0 3px 1px 8px; height:18px; width:18px;}
.nav .RadToolBar_Default .rtbSplBtnActivator .rtbText {display:none; visibility:collapse;}

div.nav ul.navButtons li {float: left; list-style-type:none; margin:0; padding:0; width: auto;}
div.nav .RadToolBar .rtbItem { display: table-cell; overflow: hidden; vertical-align: middle; }
div.nav .RadToolBar .rtbInner { padding:0 }
div.nav .RadToolBar .rtbItem,
div.nav .RadToolBar .rtbWrap,
div.nav .RadToolBar .rtbOut,
div.nav .RadToolBar .rtbMid,
div.nav .RadToolBar .rtbIn,
div.nav .RadToolBar .rtbText { clear: none; display:table-cell; height:20px; vertical-align:top; padding:0;}
div.nav .RadToolBar { margin:0; padding:0; white-space:nowrap; margin-right:-3px;}
div.nav .RadToolBar_Default .rtbChoiceArrow{ width: 10px; height:20px; background: url(/images/base_struct_images/search/downarrow.gif) center left no-repeat;padding:0; margin:0 3px 0 0 ;}
div.nav .RadToolBar .rtbSplBtnHovered .rtbChoiceArrow,
div.nav .RadToolBar .rtbSplBtnFocused .rtbChoiceArrow,
div.nav .RadToolBar .rtbSplBtnExpanded .rtbChoiceArrow {margin-left:0; width: 10px;}
.RadToolBarDropDown .rtbWrap * { cursor: pointer; display: inline-block; }
.RadToolBarDropDown_Default {border: solid 1px #333;}
.RadToolBarDropDown_Default .rtbItem {background: #111; filter: alpha(opacity=90);}
.RadToolBarDropDown_Default .rtbItem .rtbWrap {color:#71caef; padding: 0; display: block; }
.RadToolBarDropDown_Default .rtbItem .rtbWrap:hover {background: #333; color: #fff; cursor:pointer;}
.RadToolBarDropDown_Default .rtbItem .rtbWrap .rtbIcon { padding:3px 7px 3px 7px; border-right: solid 1px #333; top:auto; left: auto; right: auto; bottom:auto; position:static; display: inline-block;}
.RadToolBarDropDown_Default .rtbItem .rtbWrap .rtbText {font: 12px/15px  Arial, Helvetica, sans-serif; padding: 4px 20px 0 10px; line-height: 18px; display: inline;}
*html .RadToolBarDropDown_Default .rtbItem .rtbWrap .rtbText {padding-left: 40px;}

/* RadComboBox Default skin */

/*global*/

.RadPanelBar span.rpText { padding: 0; font-family: arial, helvetica, sans-serif;}
.RadPanelBar ul.rpRootGroup,.RadPanelBar span.rpOut {border: none;border-style:none; }
.RadPanelBar a.rpLink {border: none; }
.RadPanelBar_BungieSmall .rpGroup li.rpItem a { width: 120px; }
.RadPanelBar_BungieSmall .rpRootGroup a.rpExpandable { margin-top: 5px; line-height: 18px; background-position: top left;}
.RadPanelBar_BungieSmall .rpRootGroup a.rpExpandable:hover { background-position: 0 -20px;}
.RadPanelBar_BungieSmall .rpRootGroup a.rpExpanded { background-position: 0 -40px;}
.RadPanelBar_BungieSmall .rpRootGroup a.rpExpanded:hover { background-position: 0 -60px;}
.RadPanelBar_BungieSmall .rpGroup a.rpLink, .radPanelBar .rpGroup span.rpText {line-height: 16px;}

.RadPanelBar_Bungie .rpRootGroup a.rpExpandable { margin-top: 5px; line-height: 28px; background-position: top left;}
.RadPanelBar_Bungie .rpRootGroup a.rpExpandable:hover { background-position: 0 -30px;}
.RadPanelBar_Bungie .rpRootGroup a.rpExpanded { background-position: 0 -60px;}
.RadPanelBar_Bungie .rpRootGroup a.rpExpanded:hover { background-position: 0 -90px;}

/*RadGrid*/
.rgAdvPart { display:none; }
.game_details .content_matte { background: url(/images/halo3stats/mainblock-back.jpg) repeat-x top center #1e1e1e; }
.game_details .content_matte .games_container { width:902px; }
.game_details .summary_container .contain { border-color: black; height: 546px; background: black; color: #d6d6d6;}
.game_details .summary_container .contain  .convex_cont { background: url(/images/base_struct_images/stats/contain-header.jpg) no-repeat; }
.game_details .summary_container.halo3 .contain  .convex_cont { background:#363636; }
.game_details .summary_container .contain .boxD { background: black; }
tr.rgPager td.rgPagerCell div { height: 20px; line-height: 20px; padding:0; float: left; width: auto; padding-left:0;padding-right:0;}
tr.rgPager td.rgPagerCell .rgArrPart1 a,tr.rgPager td.rgPagerCell .rgArrPart2 a { margin-top: 2px;}
tr.rgPager td { padding:0; }
div.RadGrid_Black tr.rgPager td.rgPagerCell{ border: none; white-space: nowrap; height:24px; height /*\**/:21px\9; *height: 21px;}
div.RadGrid_Black tr.rgPager td.rgPagerCell .rgNumPart a{ color: #71CAEF;padding: 0;background: none;}
/*div.finder_cont div.RadGrid_Black tr.rgPager td.rgPagerCell .rgNumPart a span { background: none; line-height: 17px; padding-right: 2px;}*/
.game_details .games { height: 546px; border-color: black; background: black;}
.game_details .games div.RadGrid_Black { background: black;}
.game_details .games table tr td a{ padding-left: 2px; padding-right: 2px;}
.game_details .games table tr td a span{ font-size: 13px; line-height: 25px; padding-right: 3px;}
.game_details .games table tr td a.rgCurrentPage span { color: #858585; text-decoration: none; }
.rgArrPart1,.rgArrPart2 {padding-top: 3px; line-height: 20px;}
.rgArrPart1 a { background: url(/images/base_struct_images/linkBt/prevprev.gif) no-repeat top center; display: block; width: 20px; height: 20px; float: left;}
.rgArrPart1 a:hover,.rgArrPart1 a:last-child:hover,.rgArrPart2 a:hover,.rgArrPart2 a:first-child:hover { background-position: center -20px;}
.rgArrPart1 a:last-child{ background: url(/images/base_struct_images/linkBt/leftarrow.gif) no-repeat top center;}
.rgArrPart2 a { background: url(/images/base_struct_images/linkBt/nextnext.gif) no-repeat top center; display: block; width: 20px; height: 20px; float: left;}
.rgArrPart2 a:first-child{ background: url(/images/base_struct_images/linkBt/rightarrow.gif) no-repeat top center;}
.rgArrPart1 a img,.rgArrPart2 a img{ display: none; }
div.RadGrid_Black input.rgPageFirst {background: url(/images/base_struct_images/linkBt/prevprev.gif) no-repeat top center; height: 20px; width: 20px;}
div.RadGrid_Black input.rgPageFirst:hover {background-position: center -20px;}
div.RadGrid_Black input.rgPagePrev {background: url(/images/base_struct_images/linkBt/leftarrow.gif) no-repeat top center; height: 20px; width: 20px;}
div.RadGrid_Black input.rgPagePrev:hover {background-position: center -20px;}
div.RadGrid_Black input.rgPageNext {background: url(/images/base_struct_images/linkBt/rightarrow.gif) no-repeat top center; height: 20px; width: 20px;}
div.RadGrid_Black input.rgPageNext:hover {background-position: center -20px;}
div.RadGrid_Black input.rgPageLast {background: url(/images/base_struct_images/linkBt/nextnext.gif) no-repeat top center; height: 20px; width: 20px;}
div.RadGrid_Black input.rgPageLast:hover {background-position: center -20px;}

div.RadGrid_Black th.rgHeader {background: black; border-top: 1px solid #000;text-align: left; padding-left: 5px; height: 25px;height /*\**/: 17px\9;border-bottom: 1px solid #494949;}
div.RadGrid_Black tr.rgSelectedRow { background: #333 !important; }
div.RadGrid_Black tr.rgSelectedRow:hover { background: #333 !important; }
div.RadGrid_Black .rgPager { background: #424242; }
div.RadGrid_Black .rgPager td{ padding: 1px !important; }
div.RadGrid_Black .rgPager td table { border: 1px solid #5b5b5b; border-left: none; border-right: none; }
.RadGrid_Black .rgNumPart a:hover, .RadGrid_Black .rgNumPart a:hover span, .RadGrid_Black .rgNumPart a.rgCurrentPage, .RadGrid_Black .rgNumPart a.rgCurrentPage span { background: none !important; }
tr.rgPager td.rgPagerCell div.rgInfoPart { float: right; width: auto; padding-right: 5px; line-height:25px}
.game_details .games table tr.rgRow td { color: #c9c9c9 !important; height: auto;font-family:Arial,Helvetica,sans-serif;}
.game_details .games table tr.rgAltRow td { color: #939393 !important; height: auto;font-family:Arial,Helvetica,sans-serif;}
div.RadGrid_Black tr.rgAltRow,div.RadGrid_Black tr.rgRow {height: 16px; *height: auto; background: url(/images/base_struct_images/stats/gamehistoryback.jpg);}
div.finder_cont div.RadGrid_Black tr.rgAltRow,div.finder_cont div.RadGrid_Black tr.rgRow {background-image:none;}
div.finder_cont div.RadGrid_Black a,div.content_favs div.RadGrid_Black a {color:#71CAEF;}
div.content_favs div.RadGrid_Black tr {background:#161617;}
div.RadGrid_Black tr.rgAltRow td,div.RadGrid_Black tr.rgRow td {height: 16px;padding-bottom /*\**/:1.5px\9; *padding-bottom: 1px; line-height: 16px;}
div.RadGrid_Black tr.rgAltRow td {padding-bottom: 2px;padding-bottom /*\**/:1.5px\9; *padding-bottom:2px;}
/*div.RadGrid_Black tr.rgAltRow, div.RadGrid_Black tr.rgRow { background: url(/images/base_struct_images/stats/gamehistoryback.jpg); font-size: 11px; height:18.5px;}*/

div.RadGrid_Black tr.rgAltRow:hover,div.RadGrid_Black tr.rgRow:hover {background: #232323;}

.RadComboBox_Bungie *
{
	margin:0;
	padding:0;
}

 .rcbInputCell .rcbInput,
.RadComboBoxDropDown_Bungie
{
	font:12px arial,verdana,sans-serif;
	color:#000;
	text-align: left;
}

/*.rcbInputCell .rcbInput,*/
.RadComboBoxDropDown_Bungie_rtl
{
	text-align: right;
}

/* combobox */

.RadComboBox_Bungie
{
	vertical-align:bottom;
}

.RadComboBox_Bungie table
{
	border:0;
	/*border-collapse:collapse;*/
}

 td.rcbInputCell
{

	height:21px;
	line-height:20px;
	border:1px solid #626262;
	vertical-align:top;
	background: #fff;
	padding:0;
}

 .rcbInputCell .rcbInput
{
	width:100%;
	background:transparent;
	border:0;
	vertical-align:top;
	padding:3px 0 0 0;
	color: #373737;
}

 .rcbInputCell .rcbEmptyMessage
{
	color: #666;
	font-style: italic;
}

 td.rcbInputCell,
 .rcbInputCell .rcbInput
{
	padding-left: 2px;
}

td.rcbInputCell,
.rcbInputCell .rcbInput
{
	padding-right: 2px;
	padding-left: 0;
}

 td.rcbInputCellLeft
{
	border-right: 0;
}

 td.rcbInputCellRight
{
	border-left: 0;
}

 .rcbHovered .rcbInputCell
{
	background: #efefef;
}

 .rcbFocused .rcbInputCell
{
	background: #efefef;
	border-color: #1d1d1d;
}

 .rcbFocused .rcbInputCell .rcbInput
{
	color: #1d1d1d;
}
/*special exception for Safari */
@media screen and (-webkit-min-device-pixel-ratio:0){
	 .rcbInputCell .rcbInput,
	.RadComboBoxDropDown_Bungie
	{
		line-height: 18px;
	}
}
/* end special exception */

 .rcbDisabled .rcbInputCell
{
	border-color: #a1a1a1;
}

 .rcbDisabled .rcbInputCell .rcbInput
{
	color: #9b9b9b;
}

 td.rcbArrowCell
{
	
	width:27px;
	border: 1px solid #373737;
	border-bottom-color: #030303;
	padding:0;
}

 .rcbDisabled .rcbArrowCell
{
	background-position: 0 -23px;
	border-color: #878787;
}

 td.rcbArrowCellLeft
{
	border-right-width: 0;
}

 td.rcbArrowCellRight
{
	border-left-width: 0;
}

 .rcbArrowCell a
{
	line-height:21px;
	width:27px;
	height:21px;
	text-decoration:none;
	text-indent: -9999px;
	font-size: 0;
}

 .rcbDisabled .rcbArrowCell a
{
	cursor:no-drop;
}

 .rcbDisabled .rcbArrowCellHidden a
{
	cursor: default;
}

 td.rcbArrowCellHidden,
 .rcbDisabled .rcbArrowCellHidden,
 .rcbArrowCellHidden a
{
	width: 0;
}

/* dropdown */

.rcbSlide
{
	position:absolute;
	overflow:hidden;
	display:none;
	_height:1px;
	float:left;
}

.RadComboBoxDropDown_Bungie
{
	position:absolute;
	background:#111;
	border: 2px solid #00a1e5;
	cursor:default;
	font-size:11px;
	overflow: hidden;
}

.RadComboBoxDropDown_Bungie_rtl
{
	text-align: right;
	direction: rtl;
}

.RadComboBoxDropDown_Bungie .rcbScroll
{
	overflow:auto;
}

.RadComboBoxDropDown_Bungie .rcbList
{
	list-style:none;
	margin:0;
	padding:0;
	height: 150px;
	overflow-y: auto !important;
	overflow-x: hidden;
	zoom:1;
}

/*.RadComboBoxDropDown_Bungie .rcbScroll .rcbList
{
	float:left;
}*/

.RadComboBoxDropDown_Bungie .rcbHeader,
.RadComboBoxDropDown_Bungie .rcbFooter
{
	background:#929292;
	color:#fff;
	padding:4px;
}

.RadComboBoxDropDown_Bungie .rcbNoWrap .rcbItem,
.RadComboBoxDropDown_Bungie .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown_Bungie .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown_Bungie .rcbNoWrap .rcbLoading
{
	white-space:nowrap;
}

.RadComboBoxDropDown_Bungie .rcbItem,
.RadComboBoxDropDown_Bungie .rcbHovered,
.RadComboBoxDropDown_Bungie .rcbDisabled,
.RadComboBoxDropDown_Bungie .rcbLoading
{
	padding:4px 20px 4px 4px;
}

* html .RadComboBoxDropDown_Bungie .rcbItem,
* html .RadComboBoxDropDown_Bungie .rcbHovered,
* html .RadComboBoxDropDown_Bungie .rcbDisabled,
* html .RadComboBoxDropDown_Bungie .rcbLoading
{
	zoom:1;
}

.RadComboBoxDropDown_Bungie_rtl .rcbItem,
.RadComboBoxDropDown_Bungie_rtl .rcbHovered,
.RadComboBoxDropDown_Bungie_rtl .rcbDisabled,
.RadComboBoxDropDown_Bungie_rtl .rcbLoading
{
	padding:4px 4px 4px 20px;
}

.RadComboBoxDropDown_Bungie .rcbImage
{
	vertical-align: middle;
	margin: 0 6px 2px 0;
}

.RadComboBoxDropDown_Bungie_rtl .rcbImage
{
	margin: 0 0 2px 6px;
}

.RadComboBoxDropDown_Bungie em
{
	font-style: normal;
	font-weight: bold;
}

.RadComboBoxDropDown_Bungie .rcbItem em
{
	background: #e5e5e5;
}

.RadComboBoxDropDown_Bungie .rcbHovered
{
	background:#3c3c3c;
	color:#fff;
}

.RadComboBoxDropDown_Bungie .rcbDisabled
{
	color:#ccc;
	cursor:no-drop;
}

.RadComboBoxDropDown_Bungie .rcbSeparator
{
    color: #fff;
}

.RadComboBoxDropDown_Bungie .rcbLoading
{
	background:#111;
	text-align:center;
}

.RadComboBoxDropDown_Bungie .rcbMoreResults
{
	clear:both;
	background:#f3f3f3;
	padding:4px;
	text-align:center;
}

.RadComboBoxDropDown_Bungie .rcbMoreResults a
{
	display:block;
	width:15px;
	height:14px;
	
	margin:0 auto 4px;
	text-indent:-3333px;
	overflow:hidden;
	text-decoration:none;
	cursor:pointer;
}

.RadComboBoxDropDown_Bungie .rcbMoreResults a:hover
{
	background-position:0 100%;
}

.RadComboBoxDropDown_Bungie .rcbMoreResults span
{
	display:block;
	text-align:center;
}

.RadComboBoxDropDown_Bungie .rcbScroll
{
	scrollbar-face-color: #e9e9e9;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #e9e9e9;
	scrollbar-3dlight-color: #dbdbdb;
	scrollbar-arrow-color: #787878;
	scrollbar-track-color: #f5f5f5;
	scrollbar-darkshadow-color: #aeaeae;
}

/*hacks*/


/*Opera start*/
@media screen and (min-width:550px)
{
	.RadComboBoxDropDown_Bungie_rtl .rcbItem,
	.RadComboBoxDropDown_Bungie_rtl .rcbHovered,
	.RadComboBoxDropDown_Bungie_rtl .rcbDisabled,
	.RadComboBoxDropDown_Bungie_rtl .rcbLoading
	{
		padding:4px 20px 4px 4px;
		zoom:1;
	}
}
/*Opera end*/

/* Docking Zone properties */

div.RadDockZone_Bungie
{
    border-style: none;
    border-width: 0px;
    padding: 0px;
}

*html .RadDockZone_Bungie
{
}

*>div.RadDockZone_Bungie.rdVertical /* hidden from IE6 */
{
    padding-right: 0px;
}

/* Dock Object properties */

/* wrappers and borders */

.RadDockZone_Bungie .rdPlaceHolder { border-color: #FF00FF; }

.RadDock_Bungie
{
    margin-top: -1px;
}

.RadDock_Bungie .media_link { 
	color: #ffffff;
}

/* titlebar and buttons */

.RadDock_Bungie .rdTitleBar
{
    top:1px; /*brd*/
    color:#fff;
    height:25px;
    background:url(/images/base_struct_images/Dock/TitlebarH.gif) repeat-x;
    z-index: 1000;
}

.RadDock_Bungie.rdCollapsed .rdTitleBar
{
    padding-bottom:0px; /*brd - title brd*/
}

.RadDock_Bungie .rdTable .rdTitleBar em
{
    font:bold 11px/25px arial,sans-serif;
    padding-left: 3px;
}

.RadDock_Bungie .rdTable .rdCenter .rdTitleBar ul.rdCommands
{
    margin: 0;
}
.RadDock_Bungie .rdTable .rdCenter .rdTitleBar ul.rdCommands li
{
    display: inline;
    margin: 0;
    width: auto;
    height: auto;
}

.RadDock_Bungie .rdTable .rdCenter .rdTitleBar ul.rdCommands a span
{
    width: 18px;
    height: 25px;
}

.RadDock_Bungie .rdCollapse
{
    background:url(/images/base_struct_images/Dock/Collapse.gif);
}
.RadDock_Bungie .rdExpand
{
    background:url(/images/base_struct_images/Dock/Expand.gif);
}
.RadDock_Bungie .rdClose
{
    background:url(/images/base_struct_images/Dock/Close.gif);
}
.RadDock_Bungie .rdPin
{
    background:url(/images/base_struct_images/Dock/Pin.gif);
}
.RadDock_Bungie .rdUnpin
{
    background:url(/images/base_struct_images/Dock/Unpin.gif);
}
.RadDock_Bungie .rdCustom
{
    background:url(/images/base_struct_images/Dock/Custom.gif);
}

/* inner content */

.RadDock_Bungie .rdTable .rdContent
{
    overflow: hidden;
    height: auto;
}

/* resizable dock */
.RadDock_Bungie .rdTable .rdTop .rdLeft,
.RadDock_Bungie .rdTable .rdTop .rdRight,
.RadDock_Bungie .rdTable .rdBottom .rdLeft,
.RadDock_Bungie .rdTable .rdBottom .rdRight
{
    width: 0px;
}

.RadDock_Bungie .rdTable .rdBottom .rdLeft,
.RadDock_Bungie .rdTable .rdBottom .rdCenter,
.RadDock_Bungie .rdTable .rdBottom .rdRight
{
    height: 0px;
}

.RadDock_Bungie .rdTable .rdTop td.rdLeft, 
.RadDock_Bungie .rdTable .rdTop td.rdRight
{
	font-size: 0;
	line-height: 0;
}

/* end of resizable dock */

/*Modal Popup*/
table.rfdRoundedWrapper textarea, textarea.rfdTextarea { width: 99%; }
a.rfdSkinnedButton.RadForm_Black { padding-right: 4px; }

/* Rad Tool Tip AssetDark Skin */
.RadToolTip_AssetDark.rtLoading
{	
	background: url('/images/base_struct_images/RadToolTip/Loading.gif') no-repeat center;
	width: 100%; 
	height: 100%;
}

div.RadToolTip_AssetDark
{
	position: absolute;
	cursor: default;
}

div.RadToolTip_AssetDark div.rtCallout
{
	display: none;
}

div.RadToolTip_AssetDark.rtVisibleCallout div.rtCallout
{
	display: block;
}


div.RadToolTip_AssetDark table.rtWrapper
{
	padding: 0; 
	margin: 0;
	border-collapse: collapse;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopLeft,
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopRight,
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomLeft,
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomRight
{
	width: 3px; 
	height: 3px; 
	line-height: 1px; 
	font-size: 1px;
	background-image: url('/images/base_struct_images/RadToolTip/ToolTipSprites.gif');
	background-color: transparent;
	background-repeat: no-repeat;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopLeft
{
	background-position: 0 -12px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopRight
{
	background-position: right -12px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomLeft
{
	background-position: 0 -63px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomRight
{
	background-position: right -63px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopCenter,
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomCenter
{
	height: 3px; 
	line-height: 0px; 
	font-size: 1px;
	background: url('/images/base_struct_images/RadToolTip/ToolTipSprites.gif') ;
	background-repeat: repeat-x;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopCenter
{
	background-position: 0 -66px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomCenter
{
	background-position: 0 -120px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperLeftMiddle,
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperRightMiddle
{
	background-image:  url('/images/base_struct_images/RadToolTip/ToolTipVerticalSprites.gif');
	background-repeat: repeat-y;
	font-size: 1px;
	width: 3px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperLeftMiddle
{
	background-position: 0 0;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperRightMiddle
{
	background-position: -3px 0;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperContent
{
	font: normal 13px Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: #000;	
	padding: 20px !important;
	color: #bbb;
}

div.RadToolTip_AssetDark div.rtTitlebar
{	
	color: #333;
	font: normal 18px "Segoe UI", Arial, Sans-serif;
	float: left;
	line-height: 22px;
}

div.RadToolTip_AssetDark a.rtCloseButton
{
	display: block; 
	float: right;
	position: absolute;
	right: 2px;
	width: 12px; 
	height: 12px;
	font-size: 1px; 
	line-height: 1px;
	margin-top: 5px;
	margin-right: 3px;
	background-image: url('/images/base_struct_images/RadToolTip/ToolTipSprites.gif');
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	outline: none;
}

div.RadToolTip_AssetDark div.rtCallout
{
	position: absolute; 
	height: 11px; 
	width: 11px;
	line-height: 0px; 
	font-size: 1px;
	background-image: url('/images/base_struct_images/RadToolTip/Callouts.gif');
	background-repeat: no-repeat;
}

/* position="rtCalloutCenter" */
div.RadToolTip_AssetDark .rtCalloutCenter
{
	visibility: hidden;
}

/* position="rtCalloutBottomRight" */
.RadToolTip_AssetDark .rtCalloutTopLeft
{
	margin-top: -10px; 
	margin-left: 20px;
	background-position: 0 -22px;
}

/* position="rtCalloutBottomCenter" */
.RadToolTip_AssetDark .rtCalloutTopCenter
{
	left: 50% ;
	margin-top: -9px; 
	margin-left: -10px;
	background-position: 0 0 ;
}

/* position="rtCalloutBottomLeft" */
.RadToolTip_AssetDark .rtCalloutTopRight
{
	left: 100% ;
	margin-top: -10px; 
	margin-left: -20px;
	background-position: 0 -11px ;
}

/* position="rtCalloutTopCenter" */
.RadToolTip_AssetDark .rtCalloutBottomCenter
{
	top: 100% ; 
	left: 50% ;
	margin-left: -10px ; 
	margin-top: -1px ;
	background-position: 0 -55px ;
}

/* position="rtCalloutTopLeft" */
.RadToolTip_AssetDark .rtCalloutBottomRight
{
	top: 100% ; 
	left: 100% ;
	margin-left: -40px ; 
	margin-top: -1px ;
	background-position: 0 -66px ;
}

/* position="rtCalloutTopRight" */
.RadToolTip_AssetDark .rtCalloutBottomLeft
{
	top: 100% ;
	margin-left: 20px ; 
	margin-top: -1px ;
	background-position: 0 -77px ;
}

/* position="rtCalloutMiddleRight" */
.RadToolTip_AssetDark .rtCalloutMiddleLeft
{
	top: 50% ;
	margin-left: -10px; 
	margin-top: -7px;
	background-position: 0 -44px ;
}

/* position="rtCalloutMiddleLeft" */
.RadToolTip_AssetDark .rtCalloutMiddleRight
{
	left: 100% ; 
	top: 50% ;
	margin-left: -1px;
	margin-top: -10px;
	background-position: 0 -33px;
}

div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopLeft,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopCenter,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperTopRight,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperLeftMiddle,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperContent,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperRightMiddle,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomLeft,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomCenter,   
div.RadToolTip_AssetDark table.rtWrapper td.rtWrapperBottomRight   
{
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

/* end RadToolTip AssetDark */

/* player Game History grid*/
/*.playerGameHistoryGrid
{
}
.playerGameHistoryGrid .rgMasterTable .rgHeader
{
	text-align:center;
}
.playerGameHistoryGrid .rgMasterTable tr td:first-child
{
	text-align:left;
}
.playerGameHistoryGrid .rgMasterTable td
{
	padding:10px;
	vertical-align:middle;
	text-align:center;
}
.playerGameHistoryGrid .rgMasterTable tbody .rgSelectedRow td
{
	background:#333;
	border-top:1px solid #fff;
	border-bottom:1px solid #eee;
	font-weight:bold;
}
	.playerGameHistoryGrid .rgMasterTable tbody .rgSelectedRow td a
	{
		font-weight:bold;
	}
.playerGameHistoryGrid .rgMasterTable .rgAltRow td
{
	background:#232323;
	padding-bottom:10px;
}
.playerGameHistoryGrid .rgMasterTable .rgRow td
{
	background:#161617;
}
.playerGameHistoryGrid .rgMasterTable tr.rgPager td
{
	text-align:center;
	padding:10px !important;
}
*/

/* moved over from base */
.RadPanelBar_Bungie .rpRootGroup .rpExpandable{padding: 0 0 0 35px; height: 30px; margin: 4px 0 3px 0; background-image: url(/images/inside/jobs/expandbutton.gif); background-position: 0 0;	background-repeat: no-repeat;font:  14px/28px Arial, Helvetica, sans-serif; color: #dad9d9;width:250px;}
.RadPanelBar_Bungie .rpRootGroup .rpExpandable:hover{ background-position: 0 -30px; }
div.RadPanelBar_Bungie .rpRootGroup a.rpExpandable { line-height: 28px; }
.RadPanelBar_Bungie .rpGroup .rpLink {	background: none; margin-left:50px; }
.RadPanelBar_Bungie .rpRootGroup .rpItem  ul { list-style:none;}
.RadPanelBar_Bungie .rpRootGroup .rpExpanded{padding: 0 0 0 35px; height: 30px; margin: 4px 0 3px 0; background-image: url(/images/inside/jobs/expandbutton.gif); background-position: 0 -60px; background-repeat: no-repeat; font:  14px/28px Arial, Helvetica, sans-serif; color: #dad9d9;}
.RadPanelBar_Bungie .rpRootGroup .rpExpanded:hover{	background-position: 0 -90px; }
.RadPanelBar_Bungie .rpGroup .rpItem { background: url(/images/base_struct_images/arrow_3.gif) no-repeat; margin: 2px 0 2px 15px; }
.RadPanelBar_Bungie .rpGroup .rpItem a {padding-left: 20px;}

.RadPanelBar_BungieSmall {width:154px;padding:0;margin:0;}
.RadPanelBar_BungieSmall .rpRootGroup {width:154px;padding:0;margin:0;}
.RadPanelBar_BungieSmall .rpRootGroup .rpExpandable{padding: 0 0 0 30px; height: 20px;width:120px; 	margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 0;	background-repeat: no-repeat;font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.RadPanelBar_BungieSmall .rpRootGroup .rpExpandable:hover{	background-position: 0 -20px; }
.RadPanelBar_BungieSmall .rpGroup .rpLink {	background: none; margin-left:0px;  }
.RadPanelBar_BungieSmall .rpRootGroup .rpItem  ul { list-style:none; }
.RadPanelBar_BungieSmall .rpRootGroup .rpExpanded{padding: 0 0 0 30px; height: 20px; margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 -40px; background-repeat: no-repeat; font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.RadPanelBar_BungieSmall .rpRootGroup .rpExpanded:hover{	background-position: 0 -60px; }
.RadPanelBar_BungieSmall .rpGroup .rpItem { background: url(/images/base_struct_images/arrow_3.gif) no-repeat; margin: 2px 0 2px 10px; }
.RadPanelBar_BungieSmall .rpGroup .rpItem a {margin-left: 20px; width:130px;}
.RadPanelBar_BungieSmall .rpGroup .rpItem a:hover { text-decoration:underline;}

.playlists .RadPanelBar_BungieSmall {width:570px; padding:0;margin:0;  }
.playlists .RadPanelBar_BungieSmall .rpRootGroup {width:570px; padding:0;margin:0; }
.playlists .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable{padding: 0 0 0 35px;  height: 28px; width:535px; margin: 6px 0 1px 0px; background-image: url(/images/base_struct_images/online/playlistbuttons.gif); background-position: 0 0;	background-repeat: no-repeat;font:  14px/28px Arial, Helvetica, sans-serif; color: #dad9d9; margin-bottom: 0; margin-top:1px;}
.playlists .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable:hover{	background-position: 0 -28px;  }
.playlists .RadPanelBar_BungieSmall .rpGroup .rpLink  {background: none; margin-left:5px;  }

.playlists .RadPanelBar_BungieSmall .rpRootGroup .rpItem  ul { list-style:none; }
.playlists .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded{padding: 0 0 0 35px; height: 28px; width:535px; margin: 6px 0 1px 0px; background-image: url(/images/base_struct_images/online/playlistbuttons.gif); background-position: 0 -56px; background-repeat: no-repeat; font:  14px/28px Arial, Helvetica, sans-serif; color: #dad9d9;}
.playlists .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded:hover{	background-position: 0 -84px; }
.playlists .RadPanelBar_BungieSmall .rpGroup .rpItem { margin:0; padding:0; background: none;  }
.playlists .RadPanelBar_BungieSmall .rpGroup .rpItem a {width:440px;}
.playlists .RadPanelBar_BungieSmall .rpGroup .rpItem a:hover { text-decoration:underline;}

.media_cat .RadPanelBar_BungieSmall {width:170px;padding:0;margin:0;}
.media_cat .RadPanelBar_BungieSmall .rpRootGroup {width:170px;padding:0;margin:0;}
.media_cat .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable{padding: 0 0 0 30px; height: 20px;width:140px; 	margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 0;	background-repeat: no-repeat;font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.media_cat .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable:hover{	background-position: 0 -20px; }
.media_cat .RadPanelBar_BungieSmall .rpGroup .rpLink {	background: none; margin-left:0px;  }
.media_cat .RadPanelBar_BungieSmall .rpRootGroup .rpItem  ul { list-style:none; }
.media_cat .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded{padding: 0 0 0 30px; height: 20px; margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 -40px; background-repeat: no-repeat; font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.media_cat .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded:hover{	background-position: 0 -60px; }
.media_cat .RadPanelBar_BungieSmall .rpGroup .rpItem { background: url(/images/base_struct_images/arrow_3.gif) no-repeat; margin: 2px 0 2px 10px; }
.media_cat .RadPanelBar_BungieSmall .rpGroup .rpItem a {margin-left: 20px; width:150px;display:block;line-height:normal;}
.media_cat .RadPanelBar_BungieSmall .rpGroup .rpItem a:hover { text-decoration:underline;}

.small_date .RadPanelBar_BungieSmall {width:105px;padding:0;margin:0;}
.small_date .RadPanelBar_BungieSmall .rpRootGroup {width:135px;padding:0;margin:0; overflow: hidden;}
.small_date .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable{padding: 0 0 0 30px; height: 20px;width:105px; 	margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 0;	background-repeat: no-repeat;font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.small_date .RadPanelBar_BungieSmall .rpRootGroup .rpExpandable:hover{	background-position: 0 -20px; }
.small_date .RadPanelBar_BungieSmall .rpGroup .rpLink {	background: none; margin-left:0px;  }
.small_date .RadPanelBar_BungieSmall .rpRootGroup .rpItem  ul { list-style:none; }
.small_date .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded{padding: 0 0 0 30px; height: 20px; margin: 4px 0 3px 0; background-image: url(/images/base_struct_images/news/expand_sm.gif); background-position: 0 -40px; background-repeat: no-repeat; font:  14px/20px Arial, Helvetica, sans-serif; color: #dad9d9;}
.small_date .RadPanelBar_BungieSmall .rpRootGroup .rpExpanded:hover{	background-position: 0 -60px; }
.small_date .RadPanelBar_BungieSmall .rpGroup .rpItem { background: url(/images/base_struct_images/arrow_3.gif) no-repeat; margin: 2px 0 2px 10px; }
.small_date .RadPanelBar_BungieSmall .rpGroup .rpItem a {padding-left: 20px; width:105px;}
.small_date .RadPanelBar_BungieSmall .rpGroup .rpItem a:hover { text-decoration:underline;}

div.profiletabs div.RadTabStrip,div.profiletabs div.RadTabStripVertical { margin: -40px 0 0; }

.RadDockZone.rdVertical { float: left; }

.RadComboBoxDropDown_Default .rcbItem, .RadComboBoxDropDown_Default .rcbHovered {white-space:nowrap;color:#000;}

.rightStuff .RadGrid_Black {border: none;}