.mainNav li ul.flyOut li a.aerospace span,
.mainNav li ul.flyOut li a.bungiestore span,
.mainNav li ul.flyOut li a.careers span,
.mainNav li ul.flyOut li a.community span,
.mainNav li ul.flyOut li a.communitytools span,
.mainNav li ul.flyOut li a.forumrules span,
.mainNav li ul.flyOut li a.forums span,
.mainNav li ul.flyOut li a.halo3 span,
.mainNav li ul.flyOut li a.help span,
.mainNav li ul.flyOut li a.inside span,
.mainNav li ul.flyOut li a.news span,
.mainNav li ul.flyOut li a.profile span,
.mainNav li ul.flyOut li a.reach span,
.mainNav li ul.flyOut li a.older span,
.mainNav li ul.flyOut li a.aerospace span,
.mainNav li ul.flyOut li a.myth span,
.mainNav li ul.flyOut li a.crimson span
{ background: url(/images/base_struct_images/sprites/nav-icons.png) no-repeat 12px 8px; width:18px; height:16px;top:9px;left:12px;}
.mainNav li ul.flyOut li a.bungiestore span { background-position: 0px 0px;  }
.mainNav li ul.flyOut li a.careers span{ background-position: 0px -16px;  }
.mainNav li ul.flyOut li a.community span{ background-position: 0px -32px;  }
.mainNav li ul.flyOut li a.communitytools span {  background-position: 0px -48px;  }
.mainNav li ul.flyOut li a.forumrules span{  background-position: 0px -64px;  }
.mainNav li ul.flyOut li a.forums span{  background-position: 0px -80px;  }
.mainNav li ul.flyOut li a.halo3 span{  background-position: 0px -96px;  }
.mainNav li ul.flyOut li a.help span{ background-position: 0px -112px;  }
.mainNav li ul.flyOut li a.inside span{  background-position: 0px -128px;  }
.mainNav li ul.flyOut li a.news span{  background-position: 0px -144px;  }
.mainNav li ul.flyOut li a.profile span{  background-position: 0px -160px;  }
.mainNav li ul.flyOut li a.reach span{  background-position: 0px -176px;  }
.mainNav li ul.flyOut li a.older span{ background-position:0 -192px;}
.mainNav li ul.flyOut li a.aerospace span{background-position:0 -208px;}
.mainNav li ul.flyOut li a.myth span{background-position:0 -224px;}
.mainNav li ul.flyOut li a.crimson span{background-position:0 -241px;}