﻿/* can use in any situation */
.emblemPic{float:left;position:relative; }
.relative_image_container { display: block; }
img.film { float: left; }
img.screenshot_pic_4by3 { width: 120px; height: 90px; float: left; border-right: solid 2px #606060; background-color: Black; padding: 0 20px 0 20px; }
p.fileshare_messages{ padding-left: 10px; color:#FF7700; padding:7px 0 0 10px;}

.rightStuff{text-align:right;display:block;margin-top: -17px;padding-right: 10px;padding-bottom:5px;}
	.medalContainer .rightStuff{margin:7px 0 7px 15px;color:#FFF;font-size:7pt;color:#AAA;margin-top: 5px;padding-right: 15px;margin-left: 7px;padding-left: 0;margin-bottom: 4px;font-size: 6.5pt;text-align:left;}
.elevatePermissions{clear:both;border-bottom:1px solid #6C7079;width:880px;margin:10px 0 0 11px;padding:10px 0 15px;}
	.Online .elevatePermissions{padding:10px 15px;border:0;width:auto;margin:0;}
.service_box { width: 100%; min-height: 300px; background: url(/images/halo3stats/mainblock-back.jpg) repeat-x top center #1e1e1e; float: left; padding-bottom:15px;}
	.service_box .info_table { background: url(/images/halo3stats/tabs/tableheaderbkg.jpg) repeat-x #000; width: 875px; margin-left:15px; margin-right:15px;float: left;}
		.service_box .info_table li{ float: left; list-style:none; width: 100px; height:30px; line-height:30px;text-indent: 10px; }
			.service_box .info_table li a { line-height:inherit !important;}
.fileShare_legend{margin:10px 0px 5px 11px;float:left;clear:both;line-height:18px;}
	.fileShare_legend ul{float:left;list-style-type:none;display: block;}
		.fileShare_legend ul li { display: inline; padding-right:4px;}
			.fileShare_legend ul li span.favorite-icon{background:url(/images/halo3stats/fileshareicons/bungiefavorite_icon.gif) center left no-repeat; text-align:center;padding:0 10px 0px 21px;white-space:nowrap;}
			.fileShare_legend ul li span.fileset-icon{background:url(/images/halo3stats/fileshareicons/linkedfile_icon.gif) center left no-repeat; text-align:center;padding:0 10px 0px 21px;white-space:nowrap;}
			.fileShare_legend ul li span.bpro-icon{background:url(/images/halo3stats/fileshareicons/pro_icon.gif) center left no-repeat; text-align:center;padding:0 10px 0px 30px;white-space:nowrap;}
				.fileShare_legend ul li span.bpro-icon a{font-size:10px;}
	.fileShare_legend p{margin-bottom:0;}
.top_labels{background: #000;width:892px;float:left;height: 40px;padding-left:5px;}
	.top_labels h2{	background: url(/images/base_struct_images/online/onlinestats.jpg) top left no-repeat #000; width: 95%; height: 40px; text-indent: -9000px;float: left;margin-left: 5px;font-size: 17px; font-family: arial, helvetica, sans-serif;text-transform: capitalize;line-height:31px; }
	.top_labels ul {list-style: none; display: inline; background: none; }
		.top_labels ul li { display: block; background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat 0; margin-left: 6px; width:auto; float: left;}
			.top_labels ul li span { display: block; background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat right; margin-left: 24px;padding-right: 24px; width:auto; float: left; text-align: left;}
			.top_labels ul li a { display: block; width:auto; height: 31px; font-family: arial, helvetica, sans-serif; color: #71caef; text-decoration: none; font-size: 12px; line-height: 31px;}
			.top_labels ul li:hover { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat bottom left; }
				.top_labels ul li:hover span { background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat bottom right; }
		.top_labels ul li.active { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat top left;}
			.top_labels ul li.active:hover { background: url(/images/halo3stats/tabs/tab-left.jpg) no-repeat top left; }
				.top_labels ul li.active:hover span { background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat top right; }
			.top_labels ul li.active span{ background: url(/images/halo3stats/tabs/tab-right.jpg) no-repeat top right;}
			.top_labels ul li.active a { color: #fff; }
.undertab_strip { display: block; float: left;width: 902px;border-top:1px solid #424242;}
	.undertab_strip p { color: #fff; line-height: 40px; padding-left: 15px; }
	.undertab_strip ul { color: #fff; padding-left: 40px; list-style: none;}
		.undertab_strip ul li{ line-height: 40px; padding-right: 35px; float: left;}
		.undertab_strip ul li.active { color: #FFF; }
			.undertab_strip ul li.active a { color: #FFF; }
.secnav {background: url(/images/base_struct_images/online/secnav-topline.gif) top center no-repeat #1e1e1e; display: block; width: 872px; float: left;height: 40px; _height:30px;border-bottom: 1px solid #414141; margin-left: 15px;_margin-left:8px; margin-bottom: 15px;_margin-bottom:0;}
	.secnav p {line-height: 40px; color: white; font-size: 12px;_margin-top:15px;}
		.secnav p a {font-size: 12px;}
	.secnav p.left {float: left;}
		.secnav p.left select {margin-right: 10px;margin-top: 5px;}
	.secnav p.right {float: right;}

.nav_control { height: 36px; }
	.nav_control a.left_arrow { margin: 8px 0 0 5px; width: 21px; height: 20px; float: left; background: transparent url(/images/base_struct_images/linkBt/leftarrow.gif) no-repeat left bottom; }
	.nav_control a.left_arrow:hover { margin: 8px 0 0 5px; width: 21px; height: 20px; float: left; background: transparent url(/images/base_struct_images/linkBt/leftarrow.gif) no-repeat left center; }
	.nav_control a.left_arrow:active, .nav_control a.left_arrow:focus { margin: 8px 0 0 5px; width: 21px; height: 20px; float: left; background: transparent url(/images/base_struct_images/linkBt/leftarrow.gif) no-repeat left top; }
	.nav_control a.right_arrow { margin: 8px 5px 0 0; width: 21px; height: 20px; float: right; background: transparent url(/images/base_struct_images/linkBt/rightarrow.gif) no-repeat left bottom; }
	.nav_control a.right_arrow:hover { margin: 8px 5px 0 0; width: 21px; height: 20px; float: right; background: transparent url(/images/base_struct_images/linkBt/rightarrow.gif) no-repeat left center; }
	.nav_control a.right_arrow:active, .nav_control a.right_arrow:focus  { margin: 8px 5px 0 0; width: 21px; height: 20px; float: right; background: transparent url(/images/base_struct_images/linkBt/rightarrow.gif) no-repeat left top; }
	.nav_control h3 { margin: 0; padding: 10px 0 0 0; text-align: center; text-transform: none; font-weight: normal; font-size: 14px; }
	.nav_control .dropA { margin: -22px 4px 0 0; float: right; }

.nav_control_long { width: 902px;  margin:7px 0 7px 0px; font: 12px/12px Arial, Helvetica, sans-serif; text-align: center; float: left;}
	.nav_control_long ul { list-style-type: none; margin: 0; display: block; padding:0; width:100%; text-align:right;}
		.nav_control_long ul li { display: inline; font: 12px/12px Arial, Helvetica, sans-serif; padding-left: 4px; }
		.nav_control_long ul li.cooliris { margin-left:8px;float:left; vertical-align: middle; }
			.cooliris a:link,.cooliris a:visited,.cooliris a:hover,.cooliris a:active{color:#FFF;}
		.nav_control_long .prevLink { padding: 0 0 0 4px; float: left; }
		.nav_control_long .nextLink { padding: 0 4px 0 0; float: right; }
		.nav_control_long ul li.community_filter { margin-left: 40px; }

ul.tabbed_nav { width: 602px; padding:0 0 0 4px; list-style-type: none;position: relative; }
	ul.tabbed_nav_full { width: 902px; }
	ul.tabbed_nav li { float: left; padding:0 0 0 6px;height:38px; }
		ul.tabbed_nav li a {font-size: 16px; line-height: 30px; text-align: center; color: #eee;  display: block; float: left; height: 33px;  margin: 0; padding:0; }
			ul.tabbed_nav li a:hover { text-decoration: none; }
			ul.tabbed_nav li a.tab60 {font-size: 13px; color: #eee;   width: 60px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/60px.gif) no-repeat left center; }           
			ul.tabbed_nav li a.tab60:hover {font-size: 13px; color: #eee;   width: 60px; height: 33px;  background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/60px.gif) no-repeat left bottom; }
			ul.tabbed_nav li a.tab60_active {font-size: 13px; color: #eee;  width: 60px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/60px.gif) no-repeat left top; }
			ul.tabbed_nav li a.tab80 {font-size: 13px; color: #eee;   width: 80px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/80px.gif) no-repeat left center; }           
			ul.tabbed_nav li a.tab80:hover {font-size: 13px; color: #eee;   width: 80px; height: 33px;  background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/80px.gif) no-repeat left bottom; }
			ul.tabbed_nav li a.tab80_active {font-size: 13px; color: #eee;  width: 80px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/80px.gif) no-repeat left top; }
			ul.tabbed_nav li a.tab100 {font-size: 13px; color: #eee;   width: 100px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/100px.gif) no-repeat left center; }           
			ul.tabbed_nav li a.tab100:hover {font-size: 13px; color: #eee;   width: 100px; height: 33px;  background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/100px.gif) no-repeat left bottom; }
			ul.tabbed_nav li a.tab100_active {font-size: 13px; color: #eee;  width: 100px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/100px.gif) no-repeat left top; }
			ul.tabbed_nav li a.tab130 {font-size: 13px; color: #eee;   width: 130px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/130px.gif) no-repeat left center; }           
			ul.tabbed_nav li a.tab130:hover {font-size: 13px; color: #eee;   width: 130px; height: 33px;  background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/130px.gif) no-repeat left bottom; }
			ul.tabbed_nav li a.tab130_active {font-size: 13px; color: #eee;  width: 130px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/130px.gif) no-repeat left top; }
			ul.tabbed_nav li a.tab160 {font-size: 13px; color: #eee;   width: 160px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/160px.gif) no-repeat left center; }           
			ul.tabbed_nav li a.tab160:hover {font-size: 13px; color: #eee;   width: 160px; height: 33px;  background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/160px.gif) no-repeat left bottom; }
			ul.tabbed_nav li a.tab160_active {font-size: 13px; color: #eee;  width: 160px; height: 33px; background: transparent url(/images/base_struct_images/linkBt/tabnavigation/blank/160px.gif) no-repeat left top; }
		ul.tabbed_nav li img { position: relative; padding:0; }

.ddl-select{font-weight:normal;font-size:14px;padding:5px 5px 0 5px;}
	.ddl-select select{width:193px; }
	.ddl-select span{ float:left;padding:3px  3px 0 0;}
	.career-select {width:190px}
		.career-select select {width:110px; float:right;}		

/* inside some kind of frame */
.community_colB .matte_stats { padding: 0; width: 902px; }
.updatedholder{width:902px; float: left; height:200px; display: block; background:#000; border-top: 1px solid #424242;}
.boxA{}
	.boxA ul.recent_info { float: left; margin: 0;}
		.boxA ul.recent_info li.text_larger { font-size: 12px; }
			.boxA ul.recent_info li.text_larger img { margin:3px 5px 0 0;}
		.boxA ul.recent_info li.text_smaller { font-size: 10px; line-height:14px; }
		.boxA ul.recent_info li.last { float: right; padding: 0 5px 0 0; } 
		.boxA ul.recent_info li.lower { display: block; bottom: 5px; position: absolute; }
		.boxA .boxC { width: 271px; margin: 0 0 0 5px; position: relative; }
			.boxC .bottom_left { position: absolute; bottom: 0; left: 0; }
			.boxC .bottom_right { position: absolute; bottom: 0; right: 0; }
			.boxC .top_left { position: absolute; top: 0; left: 0; }
			.boxC .top_right { position: absolute; top: 0; right: 0; }
			.boxC .inner { padding: 6px; border: solid 2px #151515; background: #1f1f1f; color: #767a80; }
			.boxC .inner ul.recent_info { margin-top: -2px; }
			.boxC table { margin: 0; padding: 0; color: #767a80; }
			.boxC table tr td.fields { text-align: left; color:#eee;  }
			.boxC table tr td.values { text-align: right; color:#eee;  }
			.boxC table.tableA { width: 100%; table-layout: fixed; border: solid 2px #151515; background: #1f1f1f; float: left;}
			.boxC table.tableB { width: 221px; margin: 0; table-layout: fixed; background: #1f1f1f; border: solid 2px #151515; }
.boxD{}
	.boxD .convex_cont { border-bottom: solid 1px #272727; background-color:#474747; } 
		.boxD .convex_cont .convex { width: 276px; height: 28px; padding: 0 0 0 4px; border-top: solid 1px #818181; border-bottom: solid 1px #545454; font: 12px/28px Arial, Helvetica, sans-serif; }
			.boxD .convex_cont .convex table {height:50px;}
	.boxD .ranked_medals_row { height: 49px; width: 360px; padding:0; margin:0;  }
		.ranked_medals_row .medal { height: 49px; width: 43px; float: left; margin:0 1px 0 1px; padding:0; display:inline; background: #3f3f3f;position:relative; }
			.ranked_medals_row .medal:hover .games_list_overlay{visibility:visible;}
			.ranked_medals_row .medal .num { width: 43px; height: 12px; margin: 0; text-align: center; font: 10px/12px Arial, Helvetica, sans-serif; border-top: 1px solid #575757; background: #1a1a1a; float: left; clear: left; }
			.ranked_medals_row .medal_matte img { height: 25px; width: 25px; margin: 0; border: none; position: static; padding: 5px 0 0 9px; }
			.ranked_medals_row .medal_matte { height: 36px; width: 43px; background: white; margin: 0; position: static; background: #101010; }
		.ranked_medals_row .last { margin: 0; padding:0; }
	.boxD .games_list_overlay { position: absolute; visibility: hidden; display: inline;  z-index:1000; margin: 18px 0 0 -395px; border: solid 1px #777; background: #040608; }
		.games_list_overlay .top { width: 415px; background: #040608; position: relative; } 
			.games_list_overlay .top .overlay_img { width: 90px; height: 70px; float: left; padding:10px 0 5px 15px; overflow: hidden; background: #040608; }
			.games_list_overlay .top .message { width: 210px; height: 70px; float: left; overflow: hidden; text-align: left; background: #040608; }
			.games_list_overlay .top .message .title { margin: 0; padding: 10px 0 0 0; font-size: 14px; font-weight: bold; color: white;}
			.games_list_overlay .top .message .description { margin-top: 3px; }
			.games_list_overlay .top .total { width: 95px; height: 70px; float: left; background: #040608; }
			.games_list_overlay .top .total .description { padding-top: 10px; font-size: 14px; text-align:center; color: white;}
			.games_list_overlay .top .total .number { padding: 2px 0px 0 2px;  text-align:center; font: bold 20px Arial, Helvetica, sans-serif; }
		.games_list_overlay .bottom { width: 415px; background: #303030; }
			.games_list_overlay .bottom ul { list-style: none; padding: 5px 0 0 30px; float: left; background: #303030; }
			.games_list_overlay .bottom li { margin: 0; padding: 0 10px 5px 0; width: 180px; float: left; background: #303030; }
			.games_list_overlay .bottom li .flag .image_label { padding: 6px 0 0 5px; float: left; }

.content_favs { width: 902px; float:left;margin-top:10px;background:#1E1E1E url(/images/base_struct_images/online/comm-files-back.jpg) repeat-x scroll 0 0;clear:both;}
	.content_favs .single_column {  width:902px; margin:5px 0 0 0;padding:0; float: left; }
		.content_favs .single_column table tr th { color: White; font: bold 14px Arial, Helvetica, sans-serif; }
		.content_favs .single_column table tr td { margin: 0; padding: 1px 1px 1px 5px; border: 0; color: White; }
		.content_favs .single_column a { color: #71caef }
		.content_favs .single_column a:hover { text-decoration: underline; color: white; }

		.content_favs .single_column .vertical_col {list-style-type:none;width: 23%;float:left;padding:0;margin:10px 0 10px 12px;}
		.content_favs .boxA { float: right; }
			.content_favs .boxA .wrapper { margin: 3px 0 3px 0; }
		
.game_details {margin-top:1px; background: black;}
	.stats_overview { width: 872px; height: 146px; float: left; background: yellow; padding: 15px; margin: 0; background: #1e1e1e; border-top: solid 1px #575757; border-bottom: 2px solid #575757; }
		.stats_overview .stat_screenshot { width: 230px; height: 140px; float: left; padding: 0; margin: 0; }
		.stats_overview ul.summary { list-style-type: none; padding: 0 0 0 12px; float: left; }
			.stats_overview ul.summary li.first { font: 16px/20px Arial, Helvetica, sans-serif; }
			.stats_overview ul.summary li.break { display: block; padding: 50px 0 0 0; }
			.stats_overview ul.summary li.styled { color: #fff; }
		.stats_overview .booty { float: right; width: 345px; border: solid 1px #575757; }
			.stats_overview .booty ul { width: 345px; margin: 0; padding: 0; float: left; }
				.stats_overview .booty ul li.first { display: block; float: left; line-height: 30px; color: #fff; padding: 0 0 0 12px }
				.stats_overview .booty ul li.links { display: block; float: right; line-height: 30px; padding: 0 12px 0 0; font-size: 12px; }
			.stats_overview .booty_junk { padding: 12px; float: left; width: 321px; height:90px; border-top: solid 1px #575757; position:relative;}
				.stats_overview .booty_junk img.booty_img { border: solid 1px #575757; float: left; padding: 0; }
				.stats_overview .booty_junk ul { list-style-type:none; padding: 0 0 0 12px; width: auto; }
				.stats_overview .booty_junk img.icon_screenshot_overlay3 { z-index: 100; position: absolute; float: left; border:none; background: transparent url(/images/halo3stats/fileshareicons/screenshots/screenshots.gif); top:70px; left:20px; }
	.game_details .games_container { padding-top:5px; clear: left; } 
		.game_details .games { width: 588px; height:543px; float: left; background: #0f0f0f; margin: 10px 0px 10px 10px;  border: solid 1px #63605d; display: inline; }
			.game_details .games table tr th {     color: White; font: bold 14px Arial, Helvetica, sans-serif; }
			.game_details .games table tr th.game_label { width: 150px; padding: 4px 0 0 35px }
			.game_details .games table tr th.date_label { width: 135px  }
			.game_details .games table tr th.map_label { width: 100px; }
			.game_details .games table tr th.playlist_label { width: 100px;  }
			.game_details .games table tr.selected { background: #5f5f5f; }
			.game_details .games table tr td img.camera_img { float: left; padding: 0 10px 0 0 }
			.game_details .games table tr td { margin: 0; padding: 1px 1px 1px 5px; padding-bottom /*\**/:2px\9; border: 0; color: White; }
			.game_details .games a { color: #71caef }
			.game_details .games .RadGrid_Black a { color: #71caef }
			.game_details .games a:hover { text-decoration: underline; color: white; }
			.game_details .games table tr td span { margin: 0; padding: 0 0 0 1px; line-height: 14px; border: 0; font: 11px Arial, Helvetica, sans-serif; }
		.game_details .summary_container { width: 300px; float: right; padding: 10px 0 10px 0px; }
			.game_details .gamesContainer .summary_container a { text-decoration: none; color: #71caef; }
				.game_details .summary_container a:hover { text-decoration: underline; color: white;}
			.game_details .summary_container .contain {width: 282px; background: #1a1a1b; height:543px; margin:0 0 0 5px; border: solid 1px #777; padding: 0; }
				.game_details .summary_container .contain .summary .pic { width: 230px; height: 140px; margin: 0; padding: 10px 10px 0 10px; overflow: hidden; float: left;  }
				.game_details .summary_container .contain .description { width: 230px; min-height: 62px; padding: 10px 10px 0 10px; float: left;   }
				.game_details .summary_container .contain .title { width: 230px; border-bottom: solid 1px white; }
				.game_details .summary_container .contain .date_time, .game_details .summary_container .contain .points, .game_details .game_viewer { width: 230px; float: left; margin: 0; padding: 20px 10px 5px 10px; }
	.game_details .content_hi_res { width: 902px;clear:both;float: left; padding: 8px 0 0 0px; height: 28px; background: url(/images/base_struct_images/contentBg/blackgradient.jpg) repeat-x left top;}
		.content_hi_res .nav_control { width: 592px; font: 12px/20px Arial, Helvetica, sans-serif; text-align: center;margin:auto;}
			.content_hi_res .nav_control a { margin: 0;line-height:20px; }
			.content_hi_res .nav_control .prevLink { padding: 0 0 0 4px; float: left; }
			.content_hi_res .nav_control .nextLink { padding: 0 4px 0 0; float: right; }
			.content_hi_res .nav_control ul { list-style-type: none; margin: auto; display: block; padding: 0; }
				.content_hi_res .nav_control ul li { display: inline; font: 12px/20px Arial, Helvetica, sans-serif; padding-left: 4px; }
		.content_hi_res .boxD_outer { margin: 0; }
		.content_hi_res .boxA{ float: right; }
			.content_hi_res .boxA .wrapper{ margin: 3px 0 3px 0; }
	

.content_matte{}
	.content_matte #compareHeader .mapBottomHeader{border: 1px solid #666;background-color:#000;width:881px;position:relative;margin:15px 0 0 9px; height:60px;}
		#compareHeader .mapBottomHeader .mapImg{display:block;position:absolute;right:7px;top:5px;float:right;}
	.content_matte .content_career { clear: both; }
		.content_matte .content_career div.left_col { float: left; margin:5px 0 0 9px;  }
			.content_matte .content_career div.left_col div.careerstats_out { width:200px;}
				.content_matte div.careerstats_out div.message_box {  width:187px;padding: 5px;background: #000;font-weight: normal; }
					.content_matte div.careerstats_out div.message_box h3 { margin: 0 0 10px 0; font-weight: normal; font-size: 14px; text-transform: none; }
		.content_matte .content_career .career_cont { padding: 0 10px 0 0; float: right; margin:10px 0 0 0; }
			.content_matte .career_cont .boxD_outer { margin: 6px 0 0 0; background: #484848; }
				.content_matte .career_cont .boxD { padding: 0; }
					.content_matte .career_cont .boxD h3 { padding: 0 0 0 4px; }
					.content_matte .career_cont .boxD table { width: 268px; table-layout: fixed; font-weight: normal; }
						.content_matte .career_cont .boxD table td.values { text-align: right; }
					.content_matte .career_cont .boxD .boxD_inner ul { width: 250px; margin: 0; height:40px;  }
						.content_matte .career_cont .boxD .boxD_inner ul li { width: 120px; padding: 2px 0 0 0; margin: 0; text-align:left; }
						.content_matte .career_cont .boxD .boxD_inner ul li.values { width: 120px; padding: 2px 0 0 0; margin: 0; text-align:right; }
			.content_matte .career_cont .header_outer { border: solid 1px #575757; }
				.content_matte .career_cont .header_outer .header_inner { width: 670px; position: relative; background-color:#000; }
					.header_inner div.heatmap { margin:0 0 0 80px; }
						.header_inner img.img_heatmap {  margin:10px 0 10px 0; border:none; height:512px; width:512px; }
	.content_matte .compNav{background:transparent;font-size:11pt;padding-top: 0px; margin:0 6px 0 9px;height:35px;position:relative;}
		.compNav .link_list{width:auto;height:35px;}
			.compNav .link_list li{line-height:32px;}
				.compNav .link_list li a{line-height:32px;}
				.compNav .link_list li a.activelink { text-decoration: none; color: white; cursor: default; }
		.compNav div.rightStuff{white-space:nowrap;float:right;width:353px;margin:0;height:35px;line-height:31px;padding-bottom:0;font-size:10pt;font-weight:normal;color:#AAA;overflow:hidden;}
			.compNav div.rightStuff div.inLine{float:none;}
		.compNav div.halo3playercompare{position:relative;overflow:visible;}
		.compNav div.halo3playercompare div.compareWithLabel{display:inline;margin-right:5px;}
		.compNav div.halo3playercompare a.finderclear{margin-right:5px;}
		.compNav div.halo3playercompare div.finder_cont{background:none;position:absolute;width:175px;z-index:1000;top:29px;left:103px;margin:0;}
.div2{ color: #FFF;background: #404040;border: 1px solid #666;width: 435px;margin:0px 0px 5px 9px; padding:0px 0px 10px 0px;float:left;}
	.div2 .sectionHeaderStyle{background:#000 url(/images/halo3stats/dark_grad_bg.gif) repeat-x;color:#FFF;font-weight: normal;padding:5px 0 5px 8px;margin: 0 0 0 0;height:17px;border-top:1px solid #000;font-size:11pt;}
		.div2 .sectionHeaderStyle .compHeader{font-size:10pt;}
			.div2 .medalContainer .compHeader a.activelink {text-decoration: none; color: white; cursor: default;}
		.div2 .sectionHeaderStyle ul.share { width:auto; float:right; list-style:none;}
			.div2 .sectionHeaderStyle ul.share li {padding-left:0; padding-right:7px; float:left;} 
		.div2 .sectionHeaderStyle .rightStuff{margin:-15px 10px 0 -10px; width: 430px;text-align:right;padding-bottom:2px;height:15px;font-size:10pt;}
			.div2 .sectionHeaderStyle .rightStuff select{margin-right:-120px;margin-left:20px;margin-top:-17px;display:block;}
	.div2 .toolSep {background: url(/images/halo3stats/TOD-header-back.jpg) no-repeat scroll 0 0; border: none; height: 28px; width: 425px; margin-left: 5px; color: #FFF; margin-bottom: 5px;}
		.toolSep ul {float: left; width: auto; list-style: none; margin-left: 35px}
			.toolSep ul li {float: left; line-height: 25px;}
				.toolSep ul li.active a {color: white; cursor: default;}
					.toolSep ul li.active a:hover {text-decoration: none;}
			.toolSep ul li.points {width: 67px;}
			.toolSep ul li.kills {width: 56px;}
			.toolSep ul li.pd {width: 56px;}
			.toolSep ul li.kd {width: 49px;}
			.toolSep ul li.deaths {width: 48px;}
			.toolSep .title{margin:5px 0 0 6px; height:21px;float:left;}
			.toolSep select{float:right;margin-top:3px;}
	.div2 #hypViewAllWeapons{margin: 0 0 0 40%;overflow:hidden;padding:0 0 0 30px;background:transparent url('/images/halo3stats/arrowopen.gif') no-repeat scroll 8px -32px;}
	.div2 #hypHideAllWeapons{margin: 0 0 0 40%;overflow:hidden;padding:0 0 0 30px;background:transparent url('/images/halo3stats/arrowopen.gif') no-repeat scroll 8px -48px;}
	.div2 .medalContainer .medalWin {margin: 5px 0 0 0;}
		.div2 .medalContainer .medalWin .headerstrip {line-height: 28px;}
			.div2 .medalContainer .medalWin .headerstrip .title {width: 138px ; margin: 0; margin-left: 5px;}
			.div2 .medalContainer .medalWin .headerstrip .bonus {width: auto;float: right; font-size: 10px; color: #9a9a9a; padding-right: 5px;}
			.div2 .medalContainer .medalWin .headerstrip span.total {color: #fff;}		
			 .div2 .medalContainer .medalWin{float:left; width:430px;}
				.div2 .medalContainer .medalWin .medalBlock { background: transparent url(/images/halo3stats/medals/medalback.jpg) no-repeat; height: 40px; width: 140px; padding-top: 5px; margin: 0; margin-right: 3px;float:left;position:relative; }
					.div2 .medalContainer .medalBlock .medal{width:40px;height:34px;float:left; }
					.div2 .medalContainer .medalBlock .medal img {width:25px;height:25px;margin:2px 0 0 7px;}
				.div2 .halo3 .medalContainer .medalWin .medalBlock { margin:0 0 0 3px;}
		.div2 .medalContainer .medalWin .socialSep{background-color:#5fa8ec;padding:0 0 0 0;margin:4px 0 -6px 0;border:0;height:1px;}
	.medal_list_overlay{ position:absolute; visibility: hidden; display:inline;  z-index:1000; border: solid 1px #606060; background: #353535; border-top: 4px solid #606060; width: 175px;font-size:11px; color:#fff;}
		.medal_list_overlay .top{ width: 100%; padding:0;line-height:25px; position: relative;}
			.medal_list_overlay div.title{ float: left; padding:0; margin:0; height:25px; line-height: 25px; font-size: 11px; text-align: center; width: 100%;}
			.medal_list_overlay .top .message{ width: 100%;  float: left; overflow: hidden; text-align: center; }
			.medal_list_overlay .top .overlay_img{ float: left;height:140px; margin: 0 0 0 7px; padding: 0; width: 160px; border:1px solid #4f4f4f; background: url(/images/halo3stats/odst/popupback.jpg) no-repeat top left; }
			.medal_list_overlay .top .description{float: left; text-align:left; width: 160px; margin-left: 8px; font-size: 11px; line-height:16px; margin-top: 5px; margin-bottom: 5px;}
			.medal_list_overlay .top .total{ width: 160px; float:left; margin-left:8px; line-height:20px;}
				.medal_list_overlay .top .total .description{margin: 0;color:#fff; line-height:inherit; width: auto;}
				.medal_list_overlay .top .total .number {float: right; text-align:right; font:11px Arial, Helvetica, sans-serif; line-height:inherit;}
	.halo3 .medal_list_overlay { border: solid 1px #999; background: #040608; margin:0;background:#040608;width:auto;font-size:9pt;}
		.halo3 .medal_list_overlay .top { width: 241px; padding:5px 10px 10px 10px;line-height:15px;}
			.halo3 .medal_list_overlay .top .message{ width: 100%; margin: 0 0 5px 0; text-align: left;}
				.halo3 .medal_list_overlay div.title{float:none;height:auto;line-height:15px;font-size:9pt;text-align:left;width:auto;}
				.halo3 .medal_list_overlay .top .description{float:none;font-size:9pt;line-height:15px;margin:0;padding:0;width:auto;}
			.halo3 .medal_list_overlay .top .overlay_img { width: 60px; height:70px; padding:8px 0px 5px 0px; margin:0 10px 0 0; border:0;background:none;}
			.halo3 .medal_list_overlay .top .total { width: 171px;margin:0;line-height:15px;}
				.halo3 .medal_list_overlay .top .total .description {margin: 3px 0 0 0; font-size: 12px;float:left; }
				.halo3 .medal_list_overlay .top .total .number {font:16px  Arial, Helvetica,sans-serif; }
		.halo3 .weapon_list_overlay .top { width: 371px; position: relative; z-index: 35;} 
			.halo3 .weapon_list_overlay .top .overlay_img { width: 200px;height:auto;padding:0 0 5px 0;}
			.halo3 .medal_list_overlay .top .total{width:161px;}
	.medalBlock .medal_list_overlay{top:20px;left:20px;}
	.enemychest .medal_list_overlay,.vehiclechest .medal_list_overlay{top:25px;left:36px;} 
	.entry .medal_list_overlay{top:35px;left:95px;}
	.weapon_container .medal_list_overlay{top:14px;left:42px;}
	.top{color:#FFF;font-size:9pt;font-weight:normal;margin:1px 5px 0 0;}
	.bot{ color:#777;font-size:8pt;font-weight:normal; margin:0px 5px 0 0;} 

.players_cont { margin: 0 0 0 7px; float: left; display: inline; }
	.players_cont .boxD { width: 386px; margin: 0; padding: 0 0 0 10px; }
		.players_cont .boxD .heading { list-style-type: none; padding: 0; margin: 0; height: 31px; }
		.players_cont .boxD .heading .players { line-height: 29px; width: 244px; padding: 0 0 0 6px; display: block; float: left; }
		.players_cont .boxD .heading .place { line-height: 29px; width: 60px; padding: 0 0 0 16px; display: block; float: left; }
		.players_cont .boxD .heading .score { line-height: 29px; padding: 0 0 0 12px; display: block; float: left; }
	.players_cont .boxD .details_table_cont{ margin: 0 ; padding: 0; float: left; }
		.players_cont .boxD .details_table_cont .stripes_infocus {float:right;padding-top:10px;margin-right:5px;}
		.players_cont .boxD .details_table_cont .emblem_infocus	{padding:5px 4px 0px 4px;}
		.players_cont .boxD .details_table_cont .gamertag_infocus {height:40px;background:#111113;width:275px;float:left;}
		.players_cont .boxD .details_table_cont .name_infocus	{float: left;padding-top:4px;margin-left:5px;}
	.players_cont .boxD .table_cont { padding: 0 0 5px 0; float: left; }
		.players_cont .boxD .table_cont table.stats { width: 380px; table-layout: fixed; float: left; border-bottom: solid 1px #666;  border-collapse:separate; }
			.players_cont table.stats tr { border-bottom: solid 1px #666;}
			.players_cont table.stats tr.totals_row { background-color: #004095;}
			.players_cont table.stats tr.totals_row td.colA { padding-left:5px;}
			.players_cont table.stats td { font-weight: normal; line-height: 25px;  }
				.players_cont table.stats td .name { float: left; padding: 6px 0 0 6px; }
				.players_cont table.stats td .num { float: right; padding: 0 6px 0 0; }
				.players_cont table.stats td .rank { float: right; padding:5px 0 0 0;  }
				.players_cont table.stats td .score { float: right; padding: 0 6px 0 0; }
			.players_cont table.stats td.colA { border-left: solid 1px #666;  width: 215px; text-align: left; line-height: 25px; font-weight: normal; }
				.players_cont table.stats td.colA img.rank { width: 16px; height: 25px; float: right; border: none; margin: 0; padding: 0px 0 0 0; }
				.players_cont table.stats td.colA .play_matte {float:left; width:35px; padding:3px  0px 0px 10px;}
			.players_cont table.stats td.col {  text-align: center; line-height: 25px; font-weight: normal; }
			.players_cont table.stats td.colB {  width: 65px; text-align: center; line-height: 25px; font-weight: normal; }
			.players_cont table.stats td.colTool {  width: 205px; border-right: solid 1px #666; border-left: none; text-align: center; font-weight: normal; line-height: 25px; padding: 0 0px 0 0; }
			.players_cont table.stats td.colLast {  border-right: solid 1px #666; border-left: none; text-align: center; font-weight: normal; line-height: 25px; padding: 0 6px 0 0; }
			.players_cont table.stats td.team { padding: 0 0 0 6px; }
			.players_cont table.stats td.table_heading { line-height: 27px; padding-bottom: 7px; border: none; border-bottom: solid 1px #666; }
	.players_cont .boxD .img_matte { width: 33px; height: 33px; position: relative; background: #12328f; float: left;}
		.players_cont .img_matte img { width: 29px; height: 29px; position: absolute; top: 2px; left: 2px; margin: 0; padding:0; border: none; }

.contain{}
	.contain .boxD { margin: 0; padding: 0; width: 280px; height:541px; background: #404040 url(/images/base_struct_images/contentBg/tableheadergradient.jpg) repeat-x;   }
		.contain .boxD h3 { padding: 2px 0 2px 15px; width: 265px;  }
		.contain .boxD a.campaign_map_link { width: 280px; height: 90px; position: relative; display:block;}
		.contain .boxD .map {position:relative; width: 280px; height: 90px;}
		.contain .boxD .overlay_variant {position:absolute; margin:10px 0 0 -270px; }
		.contain .boxD ul { float: left; list-style-type: none; margin: 0; padding: 10px 0 10px 10px; }
			.contain .boxD ul li { float: none; }
	.contain .convex_cont { float: left; }
	.contain .sidebar_medal_cont { float: left; height: 40px; width:268px; padding:5px 0 5px 0; }
		.contain .sidebar_medal_cont .medals_box { width: 271px; margin: 5px auto 5px auto; position: relative; }
			.medals_box .medalsA { background-color: #1f1f1f; height:53px; border: solid 2px #151515; }
				.medals_box .medalsA img { margin: 7px 0 0 10px;  }
			.medals_box .medalsB { background-color: #1f1f1f; height:53px; border: solid 2px #111111; }
				.medals_box .medalsB img { margin: 7px 0 0 10px; }
			.medals_box img.bottom_left { position: absolute; bottom: 0; left: 0; }
			.medals_box img.bottom_right { position: absolute; bottom: 0; right: 0; }
			.medals_box img.top_left { position: absolute; top: 0; left: 0; }
			.medals_box img.top_right { position: absolute; top: 0; right: 0; }
			.medals_box .cp_medal_cont {float:left;width:32px;}
			.medals_box .cp_medal_count {margin-left:13px;text-align:center;}
		.contain .sidebar_medal_cont .medal_cont { width: 25px; margin: 0; padding: 5px 0 0 9px; float: left; }
			.contain .sidebar_medal_cont .medal_cont img { width: 25px; height: 25px; margin: 0; padding: 0; border: none; }
			.contain .sidebar_medal_cont .medal_cont span { text-align: center; font-size: 12px; width: 25px; display: block; font-weight: normal }
			.contain .sidebar_medal_cont .medal_cont .medal_count { text-align: center; font-size: 12px; width: 25px; display: block; font-weight: normal }
	.contain .relative_image_container img.screens_films { width: 160px; height: 90px; float: left; margin: 10px 0 0 10px; }

/* Identity Strip */
.header_trans { margin: 0px; width: 902px; height: 80px;}
.header_stats { width: 902px; height: 80px; margin: -80px 0 0 0; position: absolute;  }
.header_stats a.no-odst { display:block; float:left; height:80px; width:882px;background:transparent url(/images/halo3stats/identity/no-odst.jpg) no-repeat top left;}
.header_stats a.no-halo3 { display:block; float:left; height:80px; width:882px;background:transparent url(/images/halo3stats/identity/no-halo3.jpg) no-repeat top left;}
.header_stats .profile_picA { height: 80px; width: 80px; float: left; }
.header_stats .profile_picA img{ margin:5px;}
.header_stats .profile_picB { height: 80px; width: 70px; float: left; }
.service_record_header .header_stats .profile_picB img { margin:6px 0px 0px 5px; }
.service_record_header.halo3 .header_stats .profile_picB img { margin:0; }
.header_stats .profile_picC { height: 80px; width: 70px; float: left; }
.header_stats .profile_picC img { margin:0px 5px 0px 10px; }

.header_stats ul { width: 390px; padding: 8px 0 0 10px; list-style-type: none; float: left; }
.header_stats ul li { font: 11px/15px Arial, Helvetica, sans-serif; color: #fff; white-space: nowrap;}
.header_stats ul li h3 { margin: 0; font-weight:normal; font-size: 20px; line-height: 20px; text-transform: none; }

.header_stats .pin_cont { width: 175px; padding: 6px 20px 0 6px; float: left;  }
.header_stats .pin_outer { width:31px; height: 31px; border: solid 1px #000; float: left; margin: 0 2px 2px 0;overflow:hidden; }
.header_stats .pin_inner { width:27px; height: 27px; position: relative; background: #000; border: solid 1px #4f5c61; float: left; padding: 2px 0 0 2px;overflow:hidden; } 
.header_stats .pin { line-height: 0; margin: 0; padding: 0; border: none;  }
.header_stats .logo { padding: 12px 10px 0 0; float: right; }

.header_trans {opacity:0; }
.header_stats.halo2 { background: url(/images/base_struct_images/halo2-identity-back.jpg) no-repeat top right; }
.header_stats.halo3 { background: url(/images/base_struct_images/halo3-identity-back-orange.jpg) no-repeat top right; }
.header_stats.odst { background: url(/images/base_struct_images/odst-identity-back-green.jpg) no-repeat top right; }
.header_stats a { font-size: inherit; }
.header_stats ul { width: 350px; }
.header_stats ul li h3 { font-size: 17px; margin-bottom: 13px;}
.header_stats.odst ul li h3 { margin-bottom: 13px;}
.header_stats ul li.firstline{ font-weight: bold; font-size: 13px; line-height: 15px;}
.halo3 .header_stats ul li.firstline{ background: transparent url(/images/halo3stats/identity/ranked.png) no-repeat right;}
.header_stats ul li.firstline a { font-weight: bold; font-size: 13px; line-height: 15px;}
.header_stats ul li.secondline{ font-size: 11px; color: #bbbbbb; margin-top:3px;}
.halo3 .header_stats ul li.secondline{ background: transparent url(/images/halo3stats/identity/social.png) no-repeat right;}
.header_stats ul li span.identlabel.f { font-weight: bold; color: #ffc308; padding-right: 10px;}
.header_stats ul li span.identlabel.c { font-weight: bold; color: #5bae32; padding-right: 10px;}
.header_stats ul li span.identlabel.r { font-weight: bold; color: #ffc308; padding-right: 10px;}
.header_stats ul li span.identlabel.s { font-weight: bold; color: #74d2fe; padding-right: 10px;}
.header_stats .pin_cont { width: 294px; padding: 0; height: 79px; overflow: hidden;}
.header_stats .pin_cont .pin_outer {height: 81px; width: 58px; margin: 0;border: none;}
.header_stats .pin_cont .pin_outer  .pin_inner {height: 79px; width: 94%; margin: 0; background: none;border: none;}
.header_stats .pin_cont .pin_outer  .pin_inner img.ranked_chip {display: none;}
.header_stats .pin_cont .pin_outer  .pin_inner img.social_chip {display: none;}
.header_stats .pin_cont .pin_outer  .pin_inner a { margin-left: 15px;}
.header_stats .pin_cont .pin_outer  .pin_inner a img{ margin-top: 10px; }
.header_stats .pin_cont .pin_outer  .pin_inner p { text-align: center; line-height: 16px; font-size: 13px;color:#fff;}
.header_stats .pin_cont .pin_outer  .pin_inner p span { font-size: 11px; color: #bbbbbb;line-height:22px;}
.header_stats .profile_picC p.score { line-height: 71px; color: #656460; font-size: 12px; position: absolute; text-align: center; width: 78px; font-weight: bold;}
.header_stats.odst .profile_picC img { position: absolute; margin:0px ; text-align:center;}
.header_stats a.flipswitch {display: block; float: right; height: 100%; width: 20px;}
.header_stats a.flipswitch:hover {background-position: bottom left !important;}

/* Friends pages - LiveFriends.aspx, LiveFriendsStats.aspx, LiveHalo3FriendsStats.aspx */
.friends_list_cont { width: 421px; background: #000; padding: 0;  } 
	.friends_list_cont .friends_list { width: 410px; overflow: hidden; }
		.friends_list .spotlight { width: 402px; height:30px;  padding: 7px 0px 0 8px; margin-top: -1px; } 
			.friends_list .spotlight h1 { padding: 0 0 0 50px; }
			.friends_list .spotlight a.close_button { display: block; width: 24px; height: 24px; float: right; padding: 0 5px 0 0; background: transparent url(/images/base_struct_images/linkBt/close.jpg) no-repeat left top; }
				.friends_list .spotlight a.close_button:hover { display: block; width: 24px; height: 24px; float: right; padding: 0 5px 0 0; background: transparent url(/images/base_struct_images/linkBt/close.jpg) no-repeat left bottom; }
		.friends_list_cont .friends_list .content_matte { width: 410px;  } 
			.friends_list .nav_control { float: left; margin: 0; height: 24px; width:394px; padding: 0 8px 5px 8px; text-align: center; border-bottom: solid 1px #666; } 
				.friends_list .nav_control .previmg { margin: 1px 0 0 0; padding: 0; } 
				.friends_list .nav_control .nextimg { margin: 1px 0 0 0; padding: 0; } 
				.friends_list .nav_control select.dropA { width: 204px; float: none; margin: -4px 0 0 0px; }
			.friends_list .friends_message { width: 400px; margin:5px 5px 0 5px; }
			.friends_list ul.heading { margin: 0; padding: 5px 0 6px 76px; list-style-type: none; float: left; } 
				.friends_list ul.heading li { display: block; float: left; font-size: 12px; color: #fff; } 
				.friends_list ul.heading li.headingA { margin: 0; padding: 0 0 0 5px; float: left; } 
				.friends_list ul.heading li.headingB { margin: 0; padding: 0 0 0 23px; float: left; } 
				.friends_list ul.heading li.headingC { margin: 0; padding: 0 15px 0 0; float: right; } 	
			.friends_list .friend_cont { width: 391px; clear: both; float: left; padding: 0 10px 10px 10px; } 
				.friends_list .friend_cont .boxD_outer { border-width: 2px; margin: 0; }
					.friend_cont .boxD_outer .icon_cont { height: 48px; width: 48px; position: relative; background: #484848; } 
						.friend_cont .icon_cont img { width: 22px; height: 36px; left: 13px; top: 6px; position: absolute; } 
					.friend_cont .info_cont { width: 320px; height: 48px; background: #484848; } 
						.friend_cont .info_cont ul { margin: 0; padding: 6px 10px 0 10px; list-style-type: none; } 
							.friend_cont .info_cont ul li { font-size: 12px; } 
							.friend_cont .info_cont ul li.name { font-size: 16px; padding-bottom: 7px; color: #fff; } 
							.friend_cont .info_cont ul li.game { padding-top: 2px; padding-bottom: 5px; color: #fff; white-space:nowrap; overflow:hidden;}
						.friend_cont .info_cont ul.infoA { width: 45px; line-height: 47px; border-right: solid 2px #666; float: left; text-align: center; font-size: 16px; font-weight: normal; color: #fff; } 
						.friend_cont .info_cont ul.infoB { float: left; width:163px;} 
						.friend_cont .info_cont ul.infoC { float: right;width:100px; } 
							.friend_cont .info_cont ul.infoC li.game{float:right;}
						.friend_cont .info_cont ul.infoD { width: 50px; padding: 0 10px 0 0; line-height: 47px; float: right; text-align: right; font-size: 16px; font-weight: normal; color: #fff; } 

/* livestats, LiveStatsHalo3 */
div.onlinenowh2 ul { list-style-type: none; width:280px; margin:0; padding: 0;}
div.onlinenowh2 li { margin:0;  padding: 0; height:14px; display:block; clear:both;}
div.onlinenowh2 li div.align_left { float:left; width:185px; }
div.onlinenowh2 li div.align_right { float:right; text-align:right; width:85px;}

/* ExperienceBar */
.ExpBar{ float:right; background-color:#A3CDE2; margin-top:5px;}
.ExpBar span {float:left; position:relative; margin-top:0px; background-image: url(/images/Halo2Stats/LevelBar.gif);}
.ExpBarText{margin-left:17px; float:none; position:relative; color:#000; line-height:12px;}

/* Halo3UserContentMini */
.reported_file_text{height:auto;overflow:visible;padding-left:4px;}
.reported_file_link{margin-top:-37px;margin-left:25%;}
div.user_content_mini_outer_shell {font: 11px Arial, Helvetica, sans-serif;width:278px; height:150px;border:1px solid #727272;margin:6px 10px 9px 11px;background:#161616 url(/images/base_struct_images/online/share_bg_normal.gif) repeat-x;}
.isBungiePro{background:#161616 url(/images/base_struct_images/online/share_bg_pro.gif) no-repeat;}
.isTrophyShot { background: #b19f0a url(/images/base_struct_images/online/share_bg_trophy.gif) repeat-x; border-top:1px solid #b19f0a; }
.user_content_mini_box { width: 278px; padding: 0; margin: 0;height: 150px;}
.user_content_mini_box_inner { width: 278px; padding: 0; margin: 0;}
.user_content_mini_box_inner .relative_image_container { display: block; clear: both; }
.shareTitle{margin: 5px 7px 5px 7px;padding-bottom:4px; float: left; width:265px;border-bottom:1px solid #717171}
.share-mid{margin: 0; padding:0 0 4px 0; width:278px;float: left;}
.shareCommon{margin: 0 0px 0 7px;padding-top:3px; float: left;}
.shareCommon ul.infoC {margin:5px 0 0 0;}
.screenshotItem .ssMoreDetails{margin-top:-21px;}
.screenshotItem{background:#838383 url(/images/base_struct_images/online/share_bg_normal.gif) repeat-x;}
.shareCommon ul.infoC li a{font-size:14px;}
.shareCommon ul.infoC li span a{font-size:11px;	}
.shareCommon ul.infoC li span.larger { font-size: 14px;}
.user_content_mini_outer_shell ul.infoA { color:#FFF;margin: 0;padding: 0; list-style-type: none; overflow: hidden; word-wrap: break-word;}
.user_content_mini_outer_shell ul.infoB {padding: 0; list-style-type: none; overflow: visible; word-wrap: break-word; display: block;position:absolute;margin:0;width:266px;}
.user_content_mini_outer_shell ul.infoC { color:#FFF;margin: 0 0 0 2px;padding: 0; list-style-type: none; overflow: hidden; word-wrap: break-word;}
.user_content_mini_outer_shell ul li { text-align:left;font-size: 11px; white-space:nowrap;}
.user_content_mini_outer_shell ul li a { font-size: 11px;}
.user_content_mini_outer_shell ul li h3 { font: normal 13px Arial, Helvetica, sans-serif; text-transform: none; margin: 0 0 3px 0; background-color: Transparent; padding: 0; border: none; display: inline; }
.user_content_mini_outer_shell ul li h3 a {font: bold 13px Arial, Helvetica, sans-serif; text-transform: none; margin: 0 0 3px; background-color: Transparent; padding: 0; border: none; background-image: none; display: block; } 
.shareTitle ul.infoA li img{margin-top:-3px;}
.user_content_mini_outer_shell ul li.float_right { float: right;}
.user_content_mini_outer_shell ul li.float_right_padding { float: right; padding-right: 5px; }
.ssMoreDetails{font: bold 12px Arial, Helvetica, sans-serif; text-transform: none; margin: -16px 7px 0 0; background-color: transparent; padding: 0; border: none; position:relative;float:right;clear:left;}
.ssMoreDetails{background-color:#171717;}
.isBungiePro .ssMoreDetails{background-color:#161718;}
.user_content_mini_outer_shell hr.dividingLine { width: 252px; text-align: center; clear: both; margin:0; padding: 0; display: inline; height: 1px;}
.infoA li{color:#FFF;}
.infoC li{color:#FFF;}
div.user_content_mini_outer_shell .spam_box {  background: transparent url('/images/halo3stats/fileshareicons/reportedfile.jpg') no-repeat; margin: 0; width: 278px; height: 150px; padding: 0; display: block; overflow:hidden;} 
div.user_content_mini_outer_shell .spam_box ul { margin: 122px 5px 0 5px; }
div.user_content_mini_outer_shell .spam_box ul li { color:#777; float:left;padding:0 0 0 5px;overflow:hidden;white-space:nowrap;  }
.user_content_mini_box img { margin: 4px 0 0 7px; }
.user_content_mini_box img.not_screenshot_pic { width: 80px; height: 45px; float: left; border-right: solid 2px #606060; padding: 0 0px 0 0; margin: 2px 0 0 7px; }
.user_content_mini_box img.screenshot_pic_link { width: 160px; height: 90px; float: left; background-color: #000; }
.user_content_mini_box img.screenshot_pic { width: 160px; height: 90px; float: left; border-right: solid 2px #606060;  margin-bottom: 3px;}
.user_content_mini_box .bottomArea { margin:0px 0 5px 0;height:95px;overflow:visible;}
.user_content_mini_box_inner .dividingLine{width: 260px; height:7px; margin:0px 7px 0 7px; padding: 0;line-height:7px; }
.slotWrap .bottom_bar { overflow:visible;display: block; width: 278px; clear: both; background: #2a2a2a; border: solid 1px #707070; border-top: none; font: 11px Arial, Helvetica, sans-serif;margin:-9px 20px 9px 11px; padding: 0; height: 20px;} 
.slotWrap .bottom_bar ul.links { float: left; list-style-type: none; margin: 0; padding: 3px 0 0 0; position:relative; margin: 0; text-align:right;width:100%;}
.slotWrap .bottom_bar ul.links li { float: right; padding: 0 5px 0 5px; }
.slotWrap .bottom_bar ul.links li a { font-size: 11px; line-height: 12px; }
.slotWrap .bottom_bar ul.links li.slotNum{float:left;}
.slotWrap .admin_minibar { height: 32px;display: block; width: 278px; clear: both; margin-bottom:10px; }
div.user_content_mini_outer_shell .description{font-style:italic; overflow:hidden; font-size: 11px; font-weight: normal;height:35px;margin: 3px 7px 0 7px; line-height:17px; padding: 5px 0 0 0;display:block;width: 263px;border-top:1px solid #717171;}

div.icon_screenshot_overlay { padding:0; margin: 4px 0 0 -160px; width:160px; height:90px; float: left; background: transparent url(/images/halo3stats/fileshareicons/screenshots/overlay.gif) no-repeat; }
.relative_image_container img.icon_screenshot_overlay2 { z-index: 100; position: relative; margin-left: -155px; margin-top: 70px; float: left; border:none; background: transparent url(/images/halo3stats/fileshareicons/screenshots/screenshots.gif); }

.service_record_header { width: 902px; height: 81px; float: left; background: url(/images/base_struct_images/headers/service_record_header2.jpg) top left no-repeat; }
.service_record_sidebar { width: 300px; height: 100%; margin: 0; padding: 0; background: #0c0c0c url(/images/base_struct_images/headers/service_record_header_sidebar.jpg) top left no-repeat; }    
.service_record_main { margin: 0 4px 4px 4px;  border: solid 1px #666666; }
.service_record_main a img.four_by_three_trophy { background-color: #000; padding: 0 74px 0 74px; }

/* PlayerGameDetail */
.weapon_container {height:34px;margin:2px 5px 4px 6px;position:relative;}
.weapon{position:absolute; z-index:100; margin:7px 0 0 12px;}

.total_medals {margin: 0; padding: 0; width: 240px; height: 225px; float: left; background: #1e1d1e; }

.game_details_overlayB { float: left; width: 425px; background: #333334; visibility: hidden; position: absolute; border: solid 1px #777; text-align: left; margin:7px 0 0 0;}
.rptPopOver_container { float: left; margin: 15px 0 0 52px; padding: 0; width: 0px; position:absolute;}
.game_details_popover .text { padding: 0px 0 5px 0px; width:220px; float: right; }
.game_details_popover .img { float: left; width:90px; }
.game_details_popover .top { width: 425px; height: 100px;  background: #333334; }
.game_details_popover .top .colA { width: 315px; height: 90px; padding:10px 10px 0px 10px;  float: left; border: none; }
.game_details_popover .top .colB { width: 80px; height: 100px; float: left; padding-top:10px; margin:0; border: none; }
.game_details_popover .bottom { width: 425px; height: auto; background: #333334; }
.game_details_popover .bottom .colA { width: 193px; height: auto; padding: 10px 0 0px 0px; float: left; border: none; margin:0; }
.game_details_popover .bottom .colB { width: 232px; height: auto; padding: 10px 0 0px 0px; float: right; border: none; margin:0;}
.game_details_popover .bottom .colA .weapon_container { width: 193px; height: 130px; float: left; background: #000000; padding: 0; text-align:center; margin:0; }
.game_details_popover .bottom .colA .weapon { width: 190px; text-align:center; padding-top:5px;left:-10px;   }	

.game_details_popover .bottom .colB .total_medals_player { float: right; width:232px; min-height:130px; margin: 0; background: #222222; }
.game_details_popover .bottom .colB .total_medals_player ul {  list-style:none; display:inline;  }
.game_details_popover .bottom .colB .total_medals_player ul li {margin: 1px;  padding: 2px; float: left; color: White; background: #040608;  }
.game_details_popover .bottom .colB .total_medals_player ul li .count { text-align: center;}

.weapon_list_popover {width:0px;visibility:hidden;position:absolute;margin-left:-310px;margin-top:12px;z-index:20;display:table;}
.weapon_list_popover ul {list-style-type:none;width:320px; padding:5px; display:block;border:solid 1px #777;background-color:#111111; float: left; }
.weapon_list_popover ul li.wl_header {border-bottom:solid 1px #aaa;height:24px; width: 100%; }
.weapon_list_popover ul li.wl_row {width:310px;float:left;background-color:#111111;display:block;height:24px;}
.weapon_list_popover ul li.hide {visibility:hidden;}
.weapon_list_popover ul li div.wl_row_cont {width:300px;float:left;display:block;}
.weapon_list_popover ul li div.wl_img { width:50px; float:left; padding: 0 3px 0 3px; margin: 0; line-height: 24px; }
.weapon_list_popover ul li div.wl_img img { margin: 2px; padding: 0; }
.weapon_list_popover ul li div.wl_name { width:185px; float:left;padding:0; margin: 0;text-align:left; line-height: 24px; }
.weapon_list_popover ul li div.wl_kill { width:50px; float:right;padding:0; margin: 0; line-height: 24px; }

.wep_choice_img {float:left;padding:0 0 0 10px;}

.boxD ul.wep_kills li { float: none; }
ul.wep_kills {float:none; list-style-type:none; padding:0; margin:0;display:block;  }
ul.wep_kills li a.wep_kills_href span {color:#fff;}
ul.wep_kills li a.wep_kills_href img { float: left; }
ul.wep_kills li a.wep_kills_href  { height: 20px; padding:1px 0 1px 0;  color:#fff; display:block; text-decoration:none;}
ul.wep_kills li a.wep_kills_href:hover   { background-color:#555555; text-decoration:none;}

.vs_popover {width:0px;visibility:hidden;position:absolute;margin-left:-195px;margin-top:13px;}
.vs_popover ul { list-style-type:none;width:192px;padding:5px;display:block;border:solid 1px #777;background-color:#111111; float: left; }
.vs_popover ul li.vs_header {border-bottom:solid 1px #aaa;height:24px; width: 100%;}
.vs_popover ul li.vs_row {width:182px;float:left;background-color:#111111;display:block;height:17px;color:#dddddd;}
.vs_popover ul li.hide {visibility:hidden;}
.vs_popover ul li div.vs_row_cont {width:182px;float:left;display:block;}
.vs_popover ul li div.vs_row_player {width:130px;float:left;padding:5px;text-align:left;}
.vs_popover ul li div.vs_row_kills {width:30px;float:right;padding:5px;text-align:right;}

ul.vs_kills {float:none; list-style-type:none; padding:0; margin:0;display:block;  }
ul.vs_kills li a.vs_kills_href  { height: 14px; padding:4px 0 4px 0;  color:#fff; display:block; text-decoration:none;}
ul.vs_kills li a.vs_kills_href span {color:#fff;}
ul.vs_kills li a.vs_kills_href:hover   { background-color:#555555; text-decoration:none;}

.top_medals_cont {margin: 0 0 0 13px; float: left; display: inline; }
.top_medals_cont .boxD { width: 243px; margin-left: 0; padding: 0; }
.top_medals_cont .boxD h3 { height: 29px; padding: 0 0 0 5px; }
.top_medals_cont .boxD_wrapper { padding: 0 0 0 8px; }
.top_medals_cont .boxD_wrapper .boxD_outer { border-width: 1px; margin-left: 0; padding: 0; }
.top_medals_cont .boxD_wrapper .boxD_inner ul { width: 185px; padding: 2px 0 0 0; margin: 0; float: left; }
.top_medals_cont .boxD_wrapper .boxD_inner ul li { width: 185px; padding: 2px 0 0 0; margin: 0; float: left; }
.top_medals_cont .boxD_wrapper .ranked_medals_row { width: 225px; height:100%; }

/* StatInfoLinks */
.halo_forum_nav { width: 233px; padding: 10px 0  0  0; list-style-type: none; margin: auto; } 
.halo_forum_nav a { display: block; width: 230px; text-align: center;} 
.halo_forum_nav a.halo3BetaForum { width: 230px; height: 70px; margin: 0 0 8px 0; background: transparent url("/images/base_struct_images/stats/h3betaforumbanner.jpg") no-repeat left top; } 
.halo_forum_nav a.halo3BetaForumBt { width: 233px; height: 26px; margin: 0 0 12px 0; background: transparent url("/images/base_struct_images/stats/h3betaforumbutton.gif") no-repeat left top; } 
.halo_forum_nav a.h2optimatchForum { width: 230px; height: 70px; margin: 0 0 8px 0; background: transparent url("/images/base_struct_images/stats/h2optimatchforumbanner.jpg") no-repeat left top; } 
.halo_forum_nav a.h2optimatchForumBt { width: 233px; height: 26px; margin: 0 0 12px 0; background: transparent url("/images/base_struct_images/stats/h2optimatchforumbutton.gif") no-repeat left top; } 
.halo_forum_nav a.halo3BetaForum_over { width: 230px; height: 70px; margin: 0 0 8px 0; background: transparent url("/images/base_struct_images/stats/h3betaforumbanner.jpg") no-repeat left bottom; } 
.halo_forum_nav a.halo3BetaForumBt_over { width: 233px; height: 26px; margin: 0 0 12px 0; background: transparent url("/images/base_struct_images/stats/h3betaforumbutton.gif") no-repeat left bottom; } 
.halo_forum_nav a.h2optimatchForum_over { width: 230px; height: 70px; margin: 0 0 8px 0; background: transparent url("/images/base_struct_images/stats/h2optimatchforumbanner.jpg") no-repeat left bottom; } 
.halo_forum_nav a.h2optimatchForumBt_over { width: 233px; height: 26px; margin: 0 0 12px 0; background: transparent url("/images/base_struct_images/stats/h2optimatchforumbutton.gif") no-repeat left bottom; }

.content_matte .infoblockholder {width: 872px; height: 192px; display: block;padding-top: 15px;float:left; margin: 15px; margin-top:0; border-top: 1px solid #424242;}
	.content_matte .infoblockholder .left {width: 436px;height: 100%;float: right; display: block; padding: 0;}
		.content_matte .infoblockholder .left .gamestats {width: 436px; height:94px; display: block; float: left;}
			.content_matte .infoblockholder .left .gamestats .learnmoreholder {width: 350px; height:40px; display: block; float: right; text-align: right; padding-right: 25px; line-height: 40px;}
			.content_matte .infoblockholder .left .gamestats a.learnmore { line-height: 35px;}
			.content_matte .infoblockholder .left .gamestats ul { float: right; width: 340px; list-style: none;}
				.content_matte .infoblockholder .left .gamestats ul li { float: left;  margin-left: 10px; display: inline; font-size: 11px; color: white; line-height: 22px;}
				.content_matte .infoblockholder .left .gamestats ul li.twentyfour { width:70px; margin-left: 0;}
				.content_matte .infoblockholder .left .gamestats ul li.value { color: #a7a7a7; text-align: right; width: auto; padding-right: 10px; width: 52px;}
				.content_matte .infoblockholder .left .gamestats ul li.value.alltime { width: 75px;}
		.content_matte .infoblockholder .left .gamestats.odst {background: url(/images/base_struct_images/online/odst-box-back.jpg) no-repeat;}
		.content_matte .infoblockholder .left .gamestats.halo3 {background: url(/images/base_struct_images/online/halo3-box-back.jpg) no-repeat;margin-top: 5px;}
.content_matte .infoblockholder .right {width: 415px;height: 100%;float: left; display: block;}
	.content_matte .infoblockholder .right .datapane {width: 420px; height:169px; display: block; float: left; padding: 7px 10px 10px 0;}
		.content_matte .infoblockholder .right .datapane p {float: left; line-height: 15px;margin-bottom: 7px; color: white; font-size: 12px;}
		.content_matte .infoblockholder .right .datapane ul.mininav {float: left; line-height: 13px; list-style: none; margin-left: 7px; font-size: 12px;}
			.content_matte .infoblockholder .right .datapane ul.mininav li {display: inline; color: white;}
				.content_matte .infoblockholder .right .datapane ul.mininav li span { line-height: 15px;margin-bottom: 7px; color: white; font-size: 12px; }
			.content_matte .infoblockholder .right .datapane ul.rotatornav { float: right; line-height: 10px; list-style: none; margin-left: 7px; font-size: 12px; margin-top: 3px; }
				.content_matte .infoblockholder .right .datapane ul.rotatornav li { display: inline; color: white; position: relative;}
					.content_matte .infoblockholder .right .datapane ul.rotatornav li a { margin-left: 5px;float: left; display: block; width: 5px; height: 10px; background-repeat: no-repeat; background-position: left top; background-image: url(/images/base_struct_images/online_rotator_pager_blue.jpg);}
						.content_matte .infoblockholder .right .datapane ul.rotatornav li a:hover { background-position: left -10px; }
					.content_matte .infoblockholder .right .datapane ul.rotatornav li a.left_arrow { background-image: url(/images/base_struct_images/online_rotator_arrow_blue_left.gif); width: 10px; }
					.content_matte .infoblockholder .right .datapane ul.rotatornav li a.right_arrow { background-image: url(/images/base_struct_images/online_rotator_arrow_blue_right.gif); width: 10px; }
					.content_matte .infoblockholder .right .datapane ul.rotatornav li a.current { background-position: left -10px; }
	/* HaloOnlineStatRotator */
	/*Campaign Report*/
	.content_matte .infoblockholder .right .datapane .campaign_report { display: none; }
	.content_matte .infoblockholder .right .datapane .campaign_report img {float: left;}
	.content_matte .infoblockholder .right .datapane .campaign_report ul.chartlabel {float: left; list-style: none; margin-left: 15px;width: 90px; color: white;font-size: 11px;}
	.content_matte .infoblockholder .right .datapane .campaign_report ul.chartlabel li.small {font-size: 11px; color: #ababab;}
	.content_matte .infoblockholder .right .datapane .campaign_report ul.chartlabel li.badstuff {color: #ff2e2e;}
	.content_matte .infoblockholder .right .datapane .campaign_report .green_chart {float: left; width: 210px; height: 35px; display: block; background: #326a14;}
	.content_matte .infoblockholder .right .datapane .campaign_report .green_chart p {float: right; color: #fefffe; margin-right: 15px; line-height: 35px; font-size: 11px;}
	.content_matte .infoblockholder .right .datapane .campaign_report .gray_chart {float: left; width: 210px; height: 35px; display: block; background: #353535; margin-bottom: 7px; margin-top: 2px;}
	.content_matte .infoblockholder .right .datapane .campaign_report .gray_chart .redbar {float: left; height: 35px; display: block; background: #353535;}
	.content_matte .infoblockholder .right .datapane .campaign_report .gray_chart p{float: right; color: #fefffe;line-height: 35px; font-size: 11px;position:absolute; text-align: right; width: 195px;}
	.content_matte .infoblockholder .right .datapane .campaign_report .red_chart {float: left; width: 210px; height: 35px; display: block; background: #5d0f0f; margin-bottom: 7px; margin-top: 2px;}
	.content_matte .infoblockholder .right .datapane .campaign_report .red_chart .redbar {float: left; height: 35px; display: block; background: #aa0c0c;}
	.content_matte .infoblockholder .right .datapane .campaign_report .red_chart p{float: right; color: #fefffe;line-height: 35px; font-size: 11px;position:absolute; text-align: right; width: 195px;}
	/*Campaign Body Count*/
	.content_matte .infoblockholder .right .datapane .campaign_body { display: none;}
	.content_matte .infoblockholder .right .datapane .campaign_body img {float: left;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock {float: left; width: 245px; margin-left: 15px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock select {margin-right: 15px;margin-bottom:15px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock ul {list-style: none; float: left; width: 100%; display: block;height: 20px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock ul li {float: left; padding-left: 10px;line-height: 20px;color: white;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock ul li.value {float: right; padding-right: 10px; text-align: right;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock ul.kiatoday {background: #441d94;margin-top: 10px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock ul.kiaalltime {background: #2b1063;margin-top: 3px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock p {color: #adadad; font-size: 11px; float: left; padding-top: 5px;}
	.content_matte .infoblockholder .right .datapane .campaign_body .infoblock h4 {color: #fff; font-size: 11px; float: left; padding:0;}
	.content_matte .infoblockholder .right .datapane .campaign_body a.fieldguide {position: absolute; margin-top: 140px; margin-left: -60px;}
	.content_matte .infoblockholder .right .datapane .campaign_body div img { width: 160px; height: 140px; margin-top:15px; }
	/*Global Spree Medals*/
	.content_matte .infoblockholder .right .datapane .spree { display: none;}
	.content_matte .infoblockholder .right .datapane .spree .medalPanel { display: block; background:#2d2d2d; width: 75px; height: 150px; margin-right: 8px; float: left;}
	.content_matte .infoblockholder .right .datapane .spree .medalPanel.firstMedal { margin-left: 5px;}
	.content_matte .infoblockholder .right .datapane .spree .medalbar { display: block; width: 75px; height: 150px; background: url(/images/base_struct_images/online/medal-bar.jpg) no-repeat top left; position: absolute;}
	.content_matte .infoblockholder .right .datapane .spree .barlabel { display: block; position: absolute; width: 75px; height: 12px; line-height: 12px; font-size: 11px; text-align: center;margin-top: 60px;}
	.content_matte .infoblockholder .right .datapane .spree .medal { display: block; position: absolute; width: 60px; height: 60px; margin-top: 80px; padding-left: 8px;}
	/*Recent Games*/
	.content_matte .infoblockholder .right .datapane .recentgames { display: none; }
	.content_matte .infoblockholder .right .datapane .recentgames .difficon {float: left; display: block; width:95px; height:110px; background: #000; text-align:center;}
	.content_matte .infoblockholder .right .datapane .recentgames .difficon  img {margin-top: 15px;}
	.content_matte .infoblockholder .right .datapane .recentgames .map { display: block; height: 110px; width:325px; background: #000000 none no-repeat top right;float: left; margin-left: 0;}
	.content_matte .infoblockholder .right .datapane .recentgames .map img { display: block; height: 25px; width:25px; float: left; margin-right: 10px;}
	.content_matte .infoblockholder .right .datapane .recentgames .map p.details { width: 100%; float: left; height: 65px; font-size: 12px; padding-top: 7px;}
	.content_matte .infoblockholder .right .datapane .recentgames .map p.details span{ font-size: 11px;}
	.content_matte .infoblockholder .right .datapane .recentgames .map p.details span a{ font-size: 11px;}
	.content_matte .infoblockholder .right .datapane .recentgames .databox {float: left; display: block; height: 50px; width: 420px; background:black;}
	.content_matte .infoblockholder .right .datapane .recentgames .prevgame {float: left; width: 52px; height: 40px; display: block;margin:5px; background: url(/images/base_struct_images/online/recentgames_off.gif) no-repeat top left;}
	.content_matte .infoblockholder .right .datapane .recentgames .nextgame {float: right; width: 52px; height: 40px; display: block;text-align: right;margin:5px;background: url(/images/base_struct_images/online/recentgames_off2.gif) no-repeat top left;}
	.content_matte .infoblockholder .right .datapane .recentgames .nextgame a { background: url(/images/base_struct_images/online/recentgames_next_big.gif) no-repeat top right; height:40px; width:52px;display:block;}
	.content_matte .infoblockholder .right .datapane .recentgames .prevgame a {background: url(/images/base_struct_images/online/recentgames_previous_big.gif) no-repeat top left; height:40px; width:52px;display: block;} 
	.content_matte .infoblockholder .right .datapane .recentgames .nextgame a:hover {background-position:bottom;} 
	.content_matte .infoblockholder .right .datapane .recentgames .prevgame a:hover {background-position:bottom;} 
	.content_matte .infoblockholder .right .datapane .recentgames .gameinfo {float: left;width: 295px;height: 50px; display: block;background: url(/images/base_struct_images/online/recentgamesdetailblock.jpg) repeat-x 5px; }
	.content_matte .infoblockholder .right .datapane .recentgames .gameinfo p {clear: both; text-align: center; width: 100%; line-height: 50px; overflow: hidden;}
	.content_matte .infoblockholder .right .datapane .recentgames .gameinfo .details {font-size: 11px;}
	.content_matte .infoblockholder .right .datapane .recentgames .gameinfo .details a {font-size: 11px;}
	/* Nightmap */
	.content_matte .infoblockholder .right .datapane .nightmap { display: none; }
	.content_matte .infoblockholder .right .datapane .nightmap img { width: 420px; height: 159px; display: inline; }
	/*Most Played Playlists*/
	.content_matte .infoblockholder .right .datapane .playlists { display: none; }
	.content_matte .infoblockholder .right .datapane .playlists .list { width: 420px; height: 45px; display: block; float: left; background:#242424;margin-bottom: 5px;overflow: hidden;}
	.content_matte .infoblockholder .right .datapane .playlists .list .bar { width: 420px; height: 45px; display: block; background: url(/images/base_struct_images/online/hor-bar.jpg) no-repeat top right; position: absolute;}
	.content_matte .infoblockholder .right .datapane .playlists .list img { position: absolute; margin-left: 6px; margin-top: 6px;}
	.content_matte .infoblockholder .right .datapane .playlists .list ul { position: absolute; list-style: none;margin-left: 45px;}
	.content_matte .infoblockholder .right .datapane .playlists .list ul li { float: left; margin-right: 10px; line-height: 45px;}

/* RoadToRecon */
.roadtorecon {width: 880px; margin-left: 10px; float: left; display: block; height: 80px; background: url(/images/halo3stats/achievements/achievement-header.jpg) no-repeat top left;}
.roadtorecon .howmany {display: block; height: 60px; font-size: 16px; color: white; padding-left: 150px;padding-top: 0px; width: 170px;float: left;line-height: 30px;}
.roadtorecon .howmany .bluebutton{width: 115px;margin-top:5px;}
.roadtorecon .howmany span.littletext {color:#8a8c92; font-size: 11px;line-height: 11px;}
.roadtorecon ul {float: left; list-style:none; height: 80px;}
.roadtorecon ul li {float: left; height: 66px; width: 80px; padding-top: 8px;}

/* Halo3Achievements */
.content_bg_table { margin: 0; padding: 0; table-layout: fixed; float: left; font: 12px/20px Arial, Helvetica, sans-serif; font-weight: normal; text-align: left; background: url(/images/base_struct_images/headers/tableheadergradient.jpg) repeat-x; border-collapse:collapse; border: none; }
.content_bg_table th { font-weight: normal; text-align: right; height: 28px; color:#fff; }
.content_bg_table th.left, .content_bg_table td.left { text-align: left; }
.content_bg_table th.col1, .content_bg_table td.col1 { width: 150px; line-height: 23px; padding: 0 0 0 5px; }
.content_bg_table th.col2, .content_bg_table td.col2 { width: 100px; line-height: 23px; padding: 0 5px 0 0; }
.content_bg_table th.col3 { width: 50px; line-height: 23px; padding: 0 5px 0 0; }
.content_bg_table td { padding: 0 5px 0 0; text-align: right; }





/* LiveStats */
h3.live_header { border-bottom: solid 1px #999;}


/* rank history */
.profile_ratings ul.colorbar {
margin-top:7px;
}
.profile_ratings ul.colorbar li {
float:left;
font-size:12px;
line-height:30px;
margin:0;
width:100px;
}

.profile_ratings ul.colorbar li.label {
background:url("/images/base_struct_images/stats/minibargraph.jpg") repeat-x scroll left top black;
border-color:#3F3F3F -moz-use-text-color #3F3F3F #3F3F3F;
border-style:solid none solid solid;
border-width:1px medium 1px 1px;
text-indent:3px;
}
.profile_ratings ul.colorbar li.value {
background:url("/images/base_struct_images/stats/minibargraph.jpg") repeat-x scroll left top black;
border-color:#3F3F3F #3F3F3F #3F3F3F -moz-use-text-color;
border-style:solid solid solid none;
border-width:1px 1px 1px medium;
color:#FFFFFF;
height:30px;
width:107px !important;
}
	.profile_ratings ul.colorbar li.value img {
	margin-top:6px;
	}
	.profile_ratings ul.colorbar li.value span {
	float:left;
	line-height:30px;
	margin-right:5px;
	text-align:right;
	width:83px !important;
	}
.profile_ratings ul.colorbar.blue li {
border-color:#18495E;
}
.profile_ratings ul.colorbar.yellow li {
border-color:#6F661B;
}
.profile_ratings .barcont {
display:block;
float:left;
height:6px;
margin-bottom:7px;
width:209px;
}
	.profile_ratings .barcont .bar {
	display:block;
	float:left;
	height:6px;
	}
	.profile_ratings .barcont.blue {
	background:none repeat scroll 0 0 #09212C;
	}
		.profile_ratings .barcont.blue .bar {
		background:none repeat scroll 0 0 #18495E;
		}
		
	.profile_ratings .barcont.yellow {
	background:none repeat scroll 0 0 #2A2608;
	}
		.profile_ratings .barcont.yellow .bar {
		background:none repeat scroll 0 0 #6F661B;
		}

div.profile_ratings ul.playlist_info { margin: 0;  list-style-type:none; padding: 4px 0 0 0;overflow:hidden; clear:both; }
div.profile_ratings ul.playlist_info li { float:none; font: 12px/18px Arial, Helvetica, sans-serif; height:23px; display:inline-block; padding:0; margin:0 0 3px 0; width:100%; background: #333 url('/images/halo3stats/xp/progress/texturebackground.jpg') bottom left repeat-x ;border:solid 1px #000; display: block;  }
div.profile_ratings ul.playlist_info li div.playlist_desc {padding:1px 3px 0 3px; }
div.profile_ratings ul.playlist_info li div.exp {float:right; padding:1px 5px 0 3px; }
div.profile_ratings ul.playlist_info li div.overlay {height:21px;  position:relative; margin:-21px 0 0 0; border-bottom:solid 1px #000; }
div.profile_ratings ul.playlist_info li div.slider {height:21px; background: #333 url('/images/halo3stats/xp/progress/grey.jpg') repeat-x; padding:0; margin:0; position:relative; }
div.profile_ratings ul.playlist_info li div.progress {overflow:hidden; height:2px; padding:0; margin:0; }
div.profile_ratings ul.playlist_info li img { float:right; padding:2px 5px 0 0 ; height:18px; width:18px; }


/*??????*/
.screenshots img.small { visibility: hidden; width: 160px; height: 90px; position: absolute; bottom: 10px; right: 10px; border: solid 2px #fff; } 
/* end ???? */

/* marked for deletion : doesn't exist 
.rank_count ul { margin: 0; padding: 0; list-style: none;  }
.rank_count ul li { float: left; margin: 1px; padding: 2px; color: White; background: #040608;   }
.rank_count ul li .rank_image { text-align: center;}
.rank_count ul li .count { text-align: center;}
.rank_count ul li .rank_display { }
.rank_count ul li .rank_display_large { padding:5px 0 5px 27px;}



.top_medals_cont .top_medals .medal_matte img { margin: 0; padding: 5px 8px 5px 5px; width: 25px; height: 25px; float: left; clear: left; border: none; }
.top_medals_cont .top_medals ul { width: 185px; padding: 0 0 0 0; margin: 0; float: left; }
.top_medals_cont .top_medals ul li { float: none; line-height: 12px; }
.top_medals_cont .top_medals ul li.styled { font-size: 10px; line-height: 12px; }
 
.details_table_cont .details_table { margin: 0; padding: 0; }
.details_table_cont .details_table .team_color { float: left;  }
.details_table_cont .details_table .team_color_label { margin-top: 8px; text-align: left; }
.details_table_cont .details_table .flag .image_label { padding: 6px 0 0 5px; float: left; }
.details_table_cont .details_table .stripes { margin: 0; padding: 3px 0 0 0; vertical-align:middle; float: right; }

.details_table_cont .details_table tr.alternating_bg { background: #1a1a1b; }
.details_table_cont .details_table tr td { margin: 0; padding: 0px 0px 0px 0; vertical-align: middle; text-align: center; }
.details_table_cont .details_table tr td.center { text-align: center; vertical-align:middle; }
.details_table_cont .details_table tr td.left { text-align: left; }
.details_table_cont .details_table tr td.name { width: 225px; height: 24px; overflow: hidden; }

.content_matte.achievements .boxD_outer { background: none; border: none; }
.content_matte.achievements .boxD_outer .boxD_inner {border: none; }
.content_matte.achievements .boxD_outer .boxD_inner .boxD {float: right; }

.nav_control_long .legend {float:left;margin-left:-15px;}
*/